nodered/data/.flows.json.backup
[{"id":"36b23c0d.bf2cec","type":"tab","label":"Workshop","disabled":false,"info":""},{"id":"e8ebc87d.0e1fe8","type":"tab","label":"Global","disabled":false,"info":""},{"id":"e37df6bc.11daa","type":"tab","label":"3D Printer","disabled":false,"info":""},{"id":"94f6bb63.1811a8","type":"tab","label":"Kitchen","disabled":false,"info":""},{"id":"6461f072.dc1338","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"53615c48.79fc2c","type":"tab","label":"Home Assistant","disabled":false,"info":""},{"id":"9dd84a9b.b093e","type":"tab","label":"Bus","disabled":false,"info":""},{"id":"aac72c62.ffcac","type":"subflow","name":"Subflow 1","info":"","in":[{"x":280,"y":160,"wires":[{"id":"f7020136.fce1e8"}]}],"out":[]},{"id":"49385e01.b3f238","type":"subflow","name":"Cube","info":"msg.event = \"Slide, Flip, 180 Flip, Double tap, Drop\"\nmsg.side","category":"","in":[{"x":60,"y":40,"wires":[{"id":"ace1b8e5.93c158"}]}],"out":[{"x":760,"y":100,"wires":[{"id":"ebb0c078.7c2708","port":0}]},{"x":760,"y":260,"wires":[{"id":"ace1b8e5.93c158","port":0}]}],"env":[]},{"id":"5cd102c5.e6257c","type":"subflow","name":"Vibration Sensor","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"8685a857.22371"}]}],"out":[{"x":800,"y":60,"wires":[{"id":"645448dc.4cbbf8","port":0}]},{"x":820,"y":180,"wires":[{"id":"63c2bef9.3bb31","port":1}]}],"env":[]},{"id":"5a42b34b.06243c","type":"subflow","name":"Bedroom Lights","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"88d2e991.a63698"},{"id":"cb83c19d.e843d"},{"id":"7d4e0e1f.6fe7f"}]}],"out":[{"x":560,"y":80,"wires":[{"id":"88d2e991.a63698","port":0},{"id":"cb83c19d.e843d","port":0},{"id":"7d4e0e1f.6fe7f","port":0}]}],"env":[]},{"id":"1587791.fcbfc07","type":"mqtt-broker","z":"","name":"MQTT","broker":"192.168.1.105","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3fae961a.e0e002","type":"websocket-listener","z":"","path":"ws://192.168.1.105:8088","wholemsg":"false"},{"id":"c62ab10f.01fc5","type":"websocket-client","z":"","path":"ws://192.168.1.105:443","tls":"","wholemsg":"false"},{"id":"c91e92a4.14be78","type":"pushbullet-config","z":"","name":""},{"id":"d5f10d10.41d608","type":"websocket-listener","z":"","path":"http://192.168.1.105:80/api/E09E33DE20/lights","wholemsg":"false"},{"id":"c189a468.dd75a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":""},{"id":"114d57a3.c0a97","type":"ui_group","z":"","name":"Default","tab":"c189a468.dd75a","disp":true,"width":"6","collapse":false},{"id":"d334b4b.ac7cbc8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"20ee583c.c63568","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/atari-stick/BUTTON_UP/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":190,"y":180,"wires":[["1c8dbec0.a13759"]]},{"id":"aabb5468.30ea6","type":"mqtt out","z":"e8ebc87d.0e1fe8","name":"","topic":"/dev/timestamp","qos":"","retain":"","broker":"1587791.fcbfc07","x":500,"y":80,"wires":[]},{"id":"f35f639c.2d73b8","type":"inject","z":"e8ebc87d.0e1fe8","name":"1 Second","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["aabb5468.30ea6"]]},{"id":"e3eec603.af15e","type":"comment","z":"36b23c0d.bf2cec","name":"COMPUTER DESK LIGHT","info":"","x":150,"y":80,"wires":[]},{"id":"f7020136.fce1e8","type":"function","z":"aac72c62.ffcac","name":"RELAY_ON","func":"var smtskt2sstate=flow.get('smtskt2sstate') || 0;\n\nif (smtskt2sstate === 0) {\n    msg.payload = \"$RELAY$ON\";\n    flow.set('smtskt2sstate', 1);\n}\nelse {\n    msg.payload = \"$RELAY$OFF\";\n    flow.set('smtskt2sstate', 0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":160,"wires":[[]]},{"id":"ddd01429.1a5618","type":"function","z":"36b23c0d.bf2cec","name":"GetSocketNumFromTopic","func":"var socket = msg.topic.replace(\"/device/smartsocket/\", \"\");\nsocket = socket.replace(\"/event\", \"\");\nmsg.payload = socket;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":680,"wires":[["3ba51f99.ad0fe"]]},{"id":"e383679.ecdae98","type":"function","z":"36b23c0d.bf2cec","name":"LED Command","func":"\nmsg.payload = \"$LED\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":660,"wires":[["45fc84d0.2698ac"]]},{"id":"45fc84d0.2698ac","type":"mqtt out","z":"36b23c0d.bf2cec","name":"","topic":"","qos":"","retain":"","broker":"1587791.fcbfc07","x":1530,"y":680,"wires":[]},{"id":"a7628eb2.c23248","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/atari-stick/BUTTON_FIRE/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":190,"y":240,"wires":[["e3c74d75.23ef6"]]},{"id":"7720d9a.f0197a8","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/atari-stick/BUTTON_DOWN/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":200,"y":600,"wires":[[]]},{"id":"8a51465b.a13588","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/atari-stick/BUTTON_LEFT/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":200,"y":480,"wires":[["5a0e6c41.ea4cdc"]]},{"id":"b20b3bc5.71bb68","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/atari-stick/BUTTON_RIGHT/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":200,"y":540,"wires":[["ffcb98fc.661b98"]]},{"id":"ffcb98fc.661b98","type":"function","z":"36b23c0d.bf2cec","name":"MapTo SKT#3","func":"msg.topic = \"/device/smartsocket/SMTSKT03/event\";\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":540,"wires":[["ddd01429.1a5618"]]},{"id":"a2f89304.629a3","type":"function","z":"36b23c0d.bf2cec","name":"RELAY Command","func":"\nmsg.payload = \"$RELAY\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":700,"wires":[["45fc84d0.2698ac"]]},{"id":"3ba51f99.ad0fe","type":"function","z":"36b23c0d.bf2cec","name":"Manage State","func":"var socketname = msg.payload\nvar state = flow.get(socketname) || 0;\nvar event = msg.event;\nif (state === 1 && (event === undefined || event == \"doubletap\")) {\n    flow.set(socketname, 0);\n    msg.payload = \"$OFF\";\n}\nelse if (state === 0  && (event === undefined || event == \"shake\")) {\n    flow.set(socketname, 1);\n    msg.payload = \"$ON\";\n}\n\nmsg.topic = \"/device/smartsocket/\" + socketname + \"/command\";\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":680,"wires":[["e383679.ecdae98","a2f89304.629a3"]]},{"id":"e84b5960.eb68f8","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/smartsocket/SMTSKT02/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":190,"y":800,"wires":[["ddd01429.1a5618"]]},{"id":"b1a6f0d1.85df3","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/smartsocket/SMTSKT03/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":190,"y":840,"wires":[["ddd01429.1a5618"]]},{"id":"7af67802.9e5e7","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/smartsocket/SMTSKT07/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":190,"y":920,"wires":[["ddd01429.1a5618"]]},{"id":"5a0e6c41.ea4cdc","type":"function","z":"36b23c0d.bf2cec","name":"MapTo SKT#7","func":"msg.topic = \"/device/smartsocket/SMTSKT07/event\";\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":480,"wires":[["ddd01429.1a5618"]]},{"id":"de870417.41c868","type":"mqtt in","z":"e37df6bc.11daa","name":"","topic":"octoprint/progress/printing","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":250,"y":80,"wires":[["2f56d646.b3cee2"]]},{"id":"924fac09.b5c4f8","type":"debug","z":"e37df6bc.11daa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":80,"wires":[]},{"id":"2f56d646.b3cee2","type":"json","z":"e37df6bc.11daa","name":"","property":"payload","action":"","pretty":false,"x":470,"y":80,"wires":[["924fac09.b5c4f8"]]},{"id":"2f61a01b.9b9538","type":"mqtt in","z":"e37df6bc.11daa","name":"","topic":"octoprint/event/PrintDone","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":250,"y":140,"wires":[["2f56d646.b3cee2"]]},{"id":"ad4e6036.66068","type":"mqtt in","z":"94f6bb63.1811a8","name":"","topic":"/device/smartsocket/SMTSKT05/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":190,"y":280,"wires":[["4cb3b10.65b125"]]},{"id":"91f32b09.0c416","type":"mqtt in","z":"94f6bb63.1811a8","name":"","topic":"/kitchen/bench-lights/online","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":160,"y":400,"wires":[["c048b89b.f67538"]]},{"id":"c048b89b.f67538","type":"trigger","z":"94f6bb63.1811a8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1000","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Online","x":430,"y":400,"wires":[[]]},{"id":"aba6a0c1.23b6e8","type":"mqtt in","z":"94f6bb63.1811a8","name":"","topic":"/device/smartsocket/SMTSKT05/online","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":190,"y":220,"wires":[["28107b5c.02f48c"]]},{"id":"28107b5c.02f48c","type":"trigger","z":"94f6bb63.1811a8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1000","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Online","x":450,"y":220,"wires":[[]]},{"id":"1ab14664.93501a","type":"comment","z":"94f6bb63.1811a8","name":"KITCHEN BENCH LIGHT","info":"","x":150,"y":180,"wires":[]},{"id":"4cb3b10.65b125","type":"function","z":"94f6bb63.1811a8","name":"BOOT","func":"if (msg.payload === \"BOOT\") {\n    msg.payload = \"$RELAY$ON\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["be2a3e99.b5991"]]},{"id":"be2a3e99.b5991","type":"mqtt out","z":"94f6bb63.1811a8","name":"","topic":"/device/smartsocket/SMTSKT05/command","qos":"","retain":"","broker":"1587791.fcbfc07","x":1130,"y":260,"wires":[]},{"id":"118d1e2e.31db22","type":"websocket in","z":"6461f072.dc1338","name":"","server":"","client":"c62ab10f.01fc5","x":160,"y":320,"wires":[["bbcaea0c.1d1878","20f92b84.9ee024"]]},{"id":"b4c98b96.3c6cb","type":"comment","z":"6461f072.dc1338","name":"https://github.com/dresden-elektronik/deconz-rest-plugin/issues/138#issuecomment-325101635","info":"https://github.com/dresden-elektronik/deconz-rest-plugin/issues/138#issuecomment-325101635","x":330,"y":760,"wires":[]},{"id":"87d529e3.272978","type":"switch","z":"49385e01.b3f238","name":"Cube","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":140,"wires":[["ebb0c078.7c2708"],[]]},{"id":"ebb0c078.7c2708","type":"function","z":"49385e01.b3f238","name":"Event (.event, .side)","func":"\nif (msg.payload.state === undefined || \n    msg.payload.state.buttonevent === undefined) {\n    return null;\n}\n\nvar event = msg.payload.state.buttonevent;\nvar side = Math.round(event/1000);\nvar modifier = event - (side * 1000);\nmsg.side = side;\n\nif (event % 1000 === 0) {\n    msg.event = \"slide\";\n}\nelse if (event === 7007) {\n    msg.event = \"shake\";\n}\nelse if (event === (side*1000) + side) {\n    msg.event = \"doubletap\";\n}\nelse if (side + modifier === 7) {\n    msg.event = \"180flip\";\n}\nelse if (side != 7 - modifier) {\n    msg.event = \"flip\";\n}\nelse if (event === 7008) {\n    msg.event = \"drop\";\n}\nelse {\n    msg.event = \"unknown (\" + event + \")\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":100,"wires":[[]]},{"id":"ace1b8e5.93c158","type":"json","z":"49385e01.b3f238","name":"","property":"payload","action":"","pretty":false,"x":210,"y":260,"wires":[["87d529e3.272978"]]},{"id":"ef9a8b57.8f203","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/cube1/event","qos":"","retain":"","broker":"1587791.fcbfc07","x":1040,"y":320,"wires":[]},{"id":"b0d0faf6.91905","type":"comment","z":"49385e01.b3f238","name":"Links","info":"http://blog.smarterhome.club/2019/04/30/raspbee4/","x":470,"y":220,"wires":[]},{"id":"6005f3cd.b2c894","type":"mqtt in","z":"36b23c0d.bf2cec","name":"/device/cube1/event","topic":"/device/cube1/event","qos":"2","datatype":"json","broker":"1587791.fcbfc07","x":130,"y":120,"wires":[["1c8dbec0.a13759","e3c74d75.23ef6"]]},{"id":"f4e679c5.8d6138","type":"mqtt in","z":"53615c48.79fc2c","name":"","topic":"/homeassistant/life360","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":260,"y":340,"wires":[["e130bdb4.f52bf8","57fef6e2.3b5f68"]]},{"id":"57fef6e2.3b5f68","type":"debug","z":"53615c48.79fc2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":480,"wires":[]},{"id":"e130bdb4.f52bf8","type":"pushbullet","z":"53615c48.79fc2c","config":"c91e92a4.14be78","pushtype":"note","title":"","chan":"","name":"","x":1030,"y":340,"wires":[]},{"id":"427252bc.90d32c","type":"debug","z":"36b23c0d.bf2cec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1410,"y":200,"wires":[]},{"id":"63c2bef9.3bb31","type":"switch","z":"5cd102c5.e6257c","name":"Vibration","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"9","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":100,"wires":[["645448dc.4cbbf8"],[]]},{"id":"645448dc.4cbbf8","type":"function","z":"5cd102c5.e6257c","name":"msg.strength","func":"if (msg.payload.state === undefined ||\n    msg.payload.state.vibration === undefined) {\n    return null;        \n}\n\nif (msg.payload.state.vibration === true) {\n    msg.strength = msg.payload.state.strength;\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":530,"y":60,"wires":[[]]},{"id":"8685a857.22371","type":"json","z":"5cd102c5.e6257c","name":"","property":"payload","action":"","pretty":false,"x":210,"y":220,"wires":[["63c2bef9.3bb31"]]},{"id":"d0e4f693.b1f8a8","type":"comment","z":"5cd102c5.e6257c","name":"Links","info":"http://blog.smarterhome.club/2019/04/30/raspbee4/","x":470,"y":180,"wires":[]},{"id":"492643fa.e27d44","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/vibration/door","qos":"","retain":"","broker":"1587791.fcbfc07","x":1020,"y":500,"wires":[]},{"id":"88d2e991.a63698","type":"http request","z":"5a42b34b.06243c","name":"Light 1 State","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/4/state","tls":"","proxy":"","authType":"","x":310,"y":100,"wires":[[]]},{"id":"cb83c19d.e843d","type":"http request","z":"5a42b34b.06243c","name":"Light 2 State","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/5/state","tls":"","proxy":"","authType":"","x":310,"y":160,"wires":[[]]},{"id":"7d4e0e1f.6fe7f","type":"http request","z":"5a42b34b.06243c","name":"Light 3 State","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/6/state","tls":"","proxy":"","authType":"","x":310,"y":220,"wires":[[]]},{"id":"bbcaea0c.1d1878","type":"json","z":"6461f072.dc1338","name":"","property":"payload","action":"","pretty":false,"x":130,"y":440,"wires":[["b335a4b7.0d55c","51c6b188.f4cd38","bda14701.ebbff","11c333a8.4a2ec4","a924fde8.639168","28622a9d.091b0e","c234f32a.68af58","d891b018.842248","5f96cf50.34c3f"]]},{"id":"bda14701.ebbff","type":"switch","z":"6461f072.dc1338","name":"Motion Kitchen","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"24","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":420,"wires":[["8fe37628.12ef28"]]},{"id":"51c6b188.f4cd38","type":"switch","z":"6461f072.dc1338","name":"Motion Door","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"21","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":380,"wires":[["52d39be.96dd064"],[]]},{"id":"b335a4b7.0d55c","type":"switch","z":"6461f072.dc1338","name":"Cube1","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"9","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":340,"wires":[["4993ed64.3b02b4"]]},{"id":"11c333a8.4a2ec4","type":"switch","z":"6461f072.dc1338","name":"Vibration Front Door","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"9","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":460,"wires":[["492643fa.e27d44"]]},{"id":"a924fde8.639168","type":"switch","z":"6461f072.dc1338","name":"Vibration Other","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":500,"wires":[[],[]]},{"id":"d891b018.842248","type":"switch","z":"6461f072.dc1338","name":"Lights","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":410,"y":720,"wires":[[],[],[],[]]},{"id":"92205485.9a0f7","type":"mqtt out","z":"94f6bb63.1811a8","name":"","topic":"","qos":"","retain":"","broker":"1587791.fcbfc07","x":860,"y":180,"wires":[]},{"id":"e3a384d7.d98828","type":"inject","z":"94f6bb63.1811a8","name":"","topic":"/device/smartsocket/SMTSKT05/event","payload":"EV_RELEASED","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":180,"wires":[["92205485.9a0f7"]]},{"id":"f5d433dc.00d1a","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/motion/kitchen","qos":"","retain":"","broker":"1587791.fcbfc07","x":1020,"y":440,"wires":[]},{"id":"8fe37628.12ef28","type":"function","z":"6461f072.dc1338","name":"ON","func":"if (msg.payload.state !== undefined && msg.payload.state.presence) {\n    msg.payload = \"on\";\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":710,"y":420,"wires":[["f5d433dc.00d1a"]]},{"id":"4993ed64.3b02b4","type":"function","z":"6461f072.dc1338","name":"Event (.event, .side)","func":"\nif (msg.payload.state === undefined || \n    msg.payload.state.buttonevent === undefined) {\n    return null;\n}\n\nvar event = msg.payload.state.buttonevent;\nvar side = Math.round(event/1000);\nvar modifier = event - (side * 1000);\n\nif (event % 1000 === 0) {\n    msg.payload.event = \"slide\";\n}\nelse if (event === 7007) {\n    msg.payload.event = \"shake\";\n}\nelse if (event === (side*1000) + side) {\n    msg.payload.event = \"doubletap\";\n}\nelse if (side + modifier === 7) {\n    msg.payload.event = \"180flip\";\n}\nelse if (side != 7 - modifier) {\n    msg.payload.event = \"flip\";\n}\nelse if (event === 7008) {\n    msg.payload.event = \"drop\";\n}\nelse {\n    msg.payload.event = \"unknown (\" + event + \")\";\n}\nmsg.payload.side = side;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":340,"wires":[["ef9a8b57.8f203"]]},{"id":"28622a9d.091b0e","type":"switch","z":"6461f072.dc1338","name":"Temperature (Outside)","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":460,"y":560,"wires":[["6c319373.d6fa54","fe714b25.a332e","72bc88d6.5fe69"],["dec3e7ee.04c97"],["d14198e6.01f79"],[]]},{"id":"c234f32a.68af58","type":"switch","z":"6461f072.dc1338","name":"Temperature (Inside)","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":460,"y":640,"wires":[["32d86ab8.9b3fee","420aa945.045dc","3ed10e5f.85b832","7a52bf64.156c08"],["dec3e7ee.04c97"],["d14198e6.01f79"],["3abb5622.0a31da"]]},{"id":"dec3e7ee.04c97","type":"debug","z":"6461f072.dc1338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.state.humidity","targetType":"msg","x":760,"y":640,"wires":[]},{"id":"d14198e6.01f79","type":"debug","z":"6461f072.dc1338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.state.pressure","targetType":"msg","x":760,"y":680,"wires":[]},{"id":"52d39be.96dd064","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/motion/door/event","qos":"","retain":"","broker":"1587791.fcbfc07","x":1030,"y":380,"wires":[]},{"id":"20f92b84.9ee024","type":"debug","z":"6461f072.dc1338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":240,"wires":[]},{"id":"4e466429.992324","type":"mqtt out","z":"36b23c0d.bf2cec","name":"","topic":"/device/smartsocket/SMTSKT04/command","qos":"","retain":"","broker":"1587791.fcbfc07","x":1540,"y":260,"wires":[]},{"id":"85e2e277.3cab6","type":"function","z":"36b23c0d.bf2cec","name":"LED Command","func":"\nmsg.payload = \"$LED\" + msg.payload + \"$RELAY\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":200,"wires":[["4e466429.992324","427252bc.90d32c"]]},{"id":"e3c74d75.23ef6","type":"function","z":"36b23c0d.bf2cec","name":"Turn OFF","func":"var event = msg.payload.event;\nif (event === undefined || event == \"doubletap\") {\n    msg.payload = \"$OFF\";\n    return msg;\n}\nreturn null;\n","outputs":1,"noerr":0,"x":600,"y":200,"wires":[["6adc4430.3b1354","5f66ba69.112c4c"]]},{"id":"b2a040e3.03cf78","type":"http request","z":"6461f072.dc1338","name":"Request new API Key from Deconz","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.1.105:80/api","tls":"","proxy":"","authType":"","x":400,"y":940,"wires":[["e88738c9.516d7"]]},{"id":"8167212e.b5cfa8","type":"inject","z":"6461f072.dc1338","name":"Headers for API Key","topic":"","payload":"{ \"devicetype\": \"nodered\" }","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":940,"wires":[["b2a040e3.03cf78"]]},{"id":"3abb5622.0a31da","type":"debug","z":"6461f072.dc1338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":720,"wires":[]},{"id":"e88738c9.516d7","type":"json","z":"6461f072.dc1338","name":"","property":"payload","action":"","pretty":false,"x":710,"y":940,"wires":[[]]},{"id":"cf0d093.59246f8","type":"comment","z":"6461f072.dc1338","name":"http://dresden-elektronik.github.io/deconz-rest-doc/getting_started/","info":"","x":280,"y":980,"wires":[]},{"id":"ddc9534e.7f19e8","type":"http request","z":"6461f072.dc1338","name":"Get lights","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights","tls":"","proxy":"","authType":"","x":480,"y":1140,"wires":[["2f8435fa.eef8ca"]]},{"id":"26fabda9.d9a8ca","type":"inject","z":"6461f072.dc1338","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1140,"wires":[["ddc9534e.7f19e8"]]},{"id":"c0ac5ef1.2b84d8","type":"debug","z":"6461f072.dc1338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":1140,"wires":[]},{"id":"2f8435fa.eef8ca","type":"json","z":"6461f072.dc1338","name":"","property":"payload","action":"","pretty":false,"x":680,"y":1140,"wires":[["c0ac5ef1.2b84d8"]]},{"id":"e94bbb5f.ba8ed8","type":"http request","z":"6461f072.dc1338","name":"Get light 4","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/4","tls":"","proxy":"","authType":"","x":490,"y":1180,"wires":[["2f8435fa.eef8ca"]]},{"id":"b7c17c84.1158c8","type":"inject","z":"6461f072.dc1338","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1180,"wires":[["e94bbb5f.ba8ed8"]]},{"id":"964749dd.171d9","type":"http request","z":"6461f072.dc1338","name":"Put Light 4","method":"PUT","ret":"txt","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/5/state","tls":"","proxy":"","authType":"","x":490,"y":1220,"wires":[["2f8435fa.eef8ca"]]},{"id":"9da8ae8e.b4d8e8","type":"inject","z":"6461f072.dc1338","name":"","topic":"LIght OFF","payload":"{\"on\":true,\"bri\":180,\"hue\":43680,\"sat\":255,\"transitiontime\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1220,"wires":[["964749dd.171d9"]]},{"id":"9e7b950e.55e588","type":"http request","z":"6461f072.dc1338","name":"Get Groups","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/groups","tls":"","proxy":"","authType":"","x":470,"y":1280,"wires":[["2f8435fa.eef8ca"]]},{"id":"d228d3e0.0a0f6","type":"inject","z":"6461f072.dc1338","name":"","topic":"Groups","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":1280,"wires":[["9e7b950e.55e588"]]},{"id":"82a5df6.1f3702","type":"http request","z":"6461f072.dc1338","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/groups/2/action","tls":"","proxy":"","authType":"","x":470,"y":1340,"wires":[["2f8435fa.eef8ca"]]},{"id":"3c5dc06f.7518d8","type":"inject","z":"6461f072.dc1338","name":"Groups - ON","topic":"","payload":"{\"on\":true,\"bri\":255,\"transitiontime\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":1340,"wires":[["82a5df6.1f3702"]]},{"id":"57ee2aca.ba501c","type":"inject","z":"6461f072.dc1338","name":"Groups - OFF","topic":"","payload":"{\"on\":false,\"bri\":255,\"transitiontime\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":1380,"wires":[["82a5df6.1f3702"]]},{"id":"6c319373.d6fa54","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/temperature/outside","qos":"","retain":"","broker":"1587791.fcbfc07","x":1040,"y":560,"wires":[]},{"id":"32d86ab8.9b3fee","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/temperature/liamsroom","qos":"","retain":"","broker":"1587791.fcbfc07","x":1050,"y":620,"wires":[]},{"id":"576b1b50.c30f44","type":"inject","z":"36b23c0d.bf2cec","name":"OFF","topic":"","payload":"{\"on\":false,\"bri\":255,\"hue\":43680,\"sat\":255,\"transitiontime\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":420,"wires":[["ee285cd8.80d29"]]},{"id":"9de1f69c.1316b8","type":"inject","z":"36b23c0d.bf2cec","name":"ON","topic":"","payload":"{\"on\":true,\"bri\":255,\"hue\":43680,\"sat\":255,\"transitiontime\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":460,"wires":[["ee285cd8.80d29"]]},{"id":"dfe53eaa.e126e8","type":"debug","z":"36b23c0d.bf2cec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":320,"wires":[]},{"id":"7147b00c.5dfde8","type":"function","z":"36b23c0d.bf2cec","name":"Motion Movement","func":"var isCubeSlide = msg.payload.event === \"slide\";\n\nvar presence = isCubeSlide || (msg.payload.state !== undefined && msg.payload.state.presence);\nif (presence) {\n   return msg; \n}\nreturn null;","outputs":1,"noerr":0,"x":630,"y":320,"wires":[["dfe53eaa.e126e8","564338ce.703b68"]]},{"id":"564338ce.703b68","type":"trigger","z":"36b23c0d.bf2cec","op1":"{\"on\":true,\"bri\":255,\"hue\":43680,\"sat\":255,\"transitiontime\":10}","op2":"{\"on\":false,\"bri\":255,\"hue\":43680,\"sat\":255,\"transitiontime\":10}","op1type":"str","op2type":"str","duration":"10","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":850,"y":360,"wires":[["ee285cd8.80d29"]]},{"id":"ee285cd8.80d29","type":"subflow:5a42b34b.06243c","z":"36b23c0d.bf2cec","name":"","env":[],"x":1080,"y":360,"wires":[["edcfef3b.b0c66"]]},{"id":"edcfef3b.b0c66","type":"debug","z":"36b23c0d.bf2cec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":360,"wires":[]},{"id":"53442dc8.762fa4","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/cube1/event","qos":"2","datatype":"json","broker":"1587791.fcbfc07","x":130,"y":320,"wires":[["7147b00c.5dfde8","2eda4f65.b2fac8"]]},{"id":"a2a6d7d7.728c18","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/motion/door/event","qos":"2","datatype":"json","broker":"1587791.fcbfc07","x":150,"y":380,"wires":[["7147b00c.5dfde8","2eda4f65.b2fac8"]]},{"id":"2eda4f65.b2fac8","type":"debug","z":"36b23c0d.bf2cec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":380,"wires":[]},{"id":"6adc4430.3b1354","type":"trigger","z":"36b23c0d.bf2cec","op1":"$ON","op2":"$OFF","op1type":"str","op2type":"str","duration":"15","extend":true,"units":"min","reset":"$OFF","bytopic":"all","name":"","x":870,"y":140,"wires":[["85e2e277.3cab6"]]},{"id":"1c8dbec0.a13759","type":"function","z":"36b23c0d.bf2cec","name":"Turn ON","func":"var event = msg.payload.event;\nif (event === undefined || event == \"shake\") {\n    return msg;\n}\nreturn null;\n","outputs":1,"noerr":0,"x":600,"y":140,"wires":[["6adc4430.3b1354"]]},{"id":"fe714b25.a332e","type":"ui_text","z":"6461f072.dc1338","group":"114d57a3.c0a97","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload.state.temperature/100}} &deg;","layout":"row-spread","x":1070,"y":680,"wires":[]},{"id":"420aa945.045dc","type":"ui_text","z":"6461f072.dc1338","group":"114d57a3.c0a97","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload.state.temperature/100}} &deg;","layout":"row-spread","x":1070,"y":720,"wires":[]},{"id":"ca900a61.48d0a8","type":"http request","z":"6461f072.dc1338","name":"Get sensors","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/sensors","tls":"","proxy":"","authType":"","x":490,"y":1040,"wires":[["e073b436.609c9"]]},{"id":"5169b335.91fafc","type":"inject","z":"6461f072.dc1338","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1040,"wires":[["ca900a61.48d0a8"]]},{"id":"b968181c.cd69e8","type":"debug","z":"6461f072.dc1338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":1040,"wires":[]},{"id":"e073b436.609c9","type":"json","z":"6461f072.dc1338","name":"","property":"payload","action":"","pretty":false,"x":680,"y":1040,"wires":[["b968181c.cd69e8"]]},{"id":"72bc88d6.5fe69","type":"ui_gauge","z":"6461f072.dc1338","name":"Outside","group":"114d57a3.c0a97","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{msg.payload.state.temperature/100}}","min":"-10","max":"40","colors":[null,null,null],"seg1":"","seg2":"","x":1080,"y":760,"wires":[]},{"id":"3ed10e5f.85b832","type":"ui_gauge","z":"6461f072.dc1338","name":"Outside","group":"114d57a3.c0a97","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{msg.payload.state.temperature/100}}","min":"-10","max":"40","colors":[null,null,null],"seg1":"","seg2":"","x":1080,"y":800,"wires":[]},{"id":"7ca9441.1c3e03c","type":"inject","z":"36b23c0d.bf2cec","name":"","topic":"","payload":"$LED$ON$RELAY$ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1160,"y":280,"wires":[["4e466429.992324"]]},{"id":"5f66ba69.112c4c","type":"trigger","z":"36b23c0d.bf2cec","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"500","extend":true,"units":"ms","reset":"","bytopic":"all","name":"doubletap=OFF","x":880,"y":200,"wires":[["85e2e277.3cab6"]]},{"id":"638fcae0.530004","type":"inject","z":"36b23c0d.bf2cec","name":"Initialise","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":620,"y":100,"wires":[["6adc4430.3b1354"]]},{"id":"fe36b486.888dd8","type":"mqtt in","z":"94f6bb63.1811a8","name":"","topic":"/device/aqara/motion/kitchen","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":160,"y":520,"wires":[["2d44d288.9fd2c6"]]},{"id":"2d44d288.9fd2c6","type":"trigger","z":"94f6bb63.1811a8","op1":"$LED_ALL$ON","op2":"$LED_ALL$OFF","op1type":"str","op2type":"str","duration":"10","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":430,"y":520,"wires":[["c6c7ed7c.e7a44","907123d6.f9d6a"]]},{"id":"907123d6.f9d6a","type":"debug","z":"94f6bb63.1811a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":440,"wires":[]},{"id":"c6c7ed7c.e7a44","type":"mqtt out","z":"94f6bb63.1811a8","name":"","topic":"/kitchen/bench-lights/command","qos":"","retain":"","broker":"1587791.fcbfc07","x":1230,"y":520,"wires":[]},{"id":"41b80aaa.e8d8f4","type":"mqtt in","z":"94f6bb63.1811a8","name":"","topic":"/kitchen/bench-lights/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":150,"y":460,"wires":[[]]},{"id":"94ac405d.648bd8","type":"debug","z":"9dd84a9b.b093e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1250,"y":200,"wires":[]},{"id":"7c5b8224.b7daf4","type":"http request","z":"9dd84a9b.b093e","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.metlink.org.nz/api/v1/ServiceLocation/25","tls":"","proxy":"","authType":"","x":360,"y":200,"wires":[["4acb9134.f8ee98"]]},{"id":"fe674a42.924b6","type":"inject","z":"9dd84a9b.b093e","name":"","topic":"","payload":"[{\"channel\":\"TEMP\",\"dataset\":[{\"lon\":174.765335,\"lat\":-41.295158,\"name\":\"9fj04r\",\"description\":\"Temperature in Madrid\",\"value\":20.5,\"unit\":\"°C\",\"iconColor\":\"Blue\"}]}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"1","x":160,"y":260,"wires":[["7c5b8224.b7daf4"]]},{"id":"191a31a8.f1727e","type":"maps","z":"9dd84a9b.b093e","name":"","path":"MAP","maptitle":"Map title","x":1130,"y":280,"wires":[["94ac405d.648bd8"]]},{"id":"633b411.ab06c4","type":"template","z":"9dd84a9b.b093e","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\n        \"channel\": \"TEMP\",\n        \"dataset\": [\n            {\n                \"name\": \"{{payload.Services[0].RecordedAtTime}}\",\n                \"description\": \"{{payload.Services[0].RecordedAtTime}}\",\n                \"value\": 20.5,\n                \"unit\": \"°C\",\n                \"iconColor\": \"Blue\"\n            }\n        ]\n    }\n]","output":"str","x":960,"y":280,"wires":[["191a31a8.f1727e"]]},{"id":"f7f08199.2bdda8","type":"maps","z":"9dd84a9b.b093e","name":"Temperature Map","path":"tempmaps","maptitle":"Europe Tittle","x":430,"y":480,"wires":[["a5fba4b.515b7d8"]]},{"id":"4e9bffb4.7bad28","type":"inject","z":"9dd84a9b.b093e","name":"","topic":"","payload":"[{\"channel\":\"TEMP\",\"dataset\":[{\"lon\":-3.703548,\"lat\":40.417204,\"name\":\"9fj04r\",\"description\":\"Temperature in Madrid\",\"value\":20.5,\"unit\":\"°C\",\"iconColor\":\"Blue\"},{\"lon\":-0.075906,\"lat\":51.508319,\"name\":\"04jgpe\",\"description\":\"Temperature in London\",\"value\":19,\"unit\":\"°C\",\"iconColor\":\"Yellow\"},{\"lon\":2.34294,\"lat\":48.859271,\"name\":\"lfj82k\",\"description\":\"Temperature in Paris\",\"label\":\"Alert for strong frosts\",\"value\":11.7,\"unit\":\"°C\",\"iconColor\":\"Red\"},{\"lon\":13.402786,\"lat\":52.517987,\"name\":\"0lw233\",\"description\":\"Temperature in Berlin\",\"value\":10.8,\"unit\":\"°C\",\"iconColor\":\"Red\"}]}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":480,"wires":[["f7f08199.2bdda8"]]},{"id":"a5fba4b.515b7d8","type":"debug","z":"9dd84a9b.b093e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":480,"wires":[]},{"id":"ac1deb01.68edd","type":"debug","z":"9dd84a9b.b093e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":160,"wires":[]},{"id":"e1b558f3.981858","type":"function","z":"9dd84a9b.b093e","name":"","func":"var service = msg.payload.Services[0];\nmsg.payload = service;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["ac1deb01.68edd"]]},{"id":"5ba29bcb.d99dc4","type":"debug","z":"9dd84a9b.b093e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":160,"wires":[]},{"id":"a44bbad3.bdc29","type":"function","z":"9dd84a9b.b093e","name":"","func":"console.log(\"Test\");\nif (msg.payload.Services === undefined) {\n    msg.payload = \"undefined\";\n    return msg;\n}\nelse if (msg.payload.Services.length === 0) {\n    msg.payload = \"length 0\";\n    return msg;\n}\n\n\nvar data = {   \n    \"lon\": -3.703548,\n    \"lat\": 40.417204,\n    \"name\": \"9fj04r\",\n    \"description\": \"Temperature in Madrid\",\n    \"value\": 20.5,\n    \"unit\": \"°C\",\n    \"iconColor\": \"Blue\"\n};\n\n[\n    {\n        \"channel\": \"TEMP\",\n        \"dataset\": [\n            {\n                \"lon\": -3.703548,\n                \"lat\": 40.417204,\n                \"name\": \"9fj04r\",\n                \"description\": \"Temperature in Madrid\",\n                \"value\": 20.5,\n                \"unit\": \"°C\",\n                \"iconColor\": \"Blue\"\n            },\n            {\n                \"lon\": -0.075906,\n                \"lat\": 51.508319,\n                \"name\": \"04jgpe\",\n                \"description\": \"Temperature in London\",\n                \"value\": 19,\n                \"unit\": \"°C\",\n                \"iconColor\": \"Yellow\"\n            },\n            {\n                \"lon\": 2.34294,\n                \"lat\": 48.859271,\n                \"name\": \"lfj82k\",\n                \"description\": \"Temperature in Paris\",\n                \"label\": \"Alert for strong frosts\",\n                \"value\": 11.7,\n                \"unit\": \"°C\",\n                \"iconColor\": \"Red\"\n            },\n            {\n                \"lon\": 13.402786,\n                \"lat\": 52.517987,\n                \"name\": \"0lw233\",\n                \"description\": \"Temperature in Berlin\",\n                \"value\": 10.8,\n                \"unit\": \"°C\",\n                \"iconColor\": \"Red\"\n            }\n        ]\n    }\n]\n\nvar services = msg.payload.Services;\nvar results = [];\nfor (var i=0; i<services.length; i++) {\n    results.push({\n        payload: {\n            long: services[i].Long,\n            lat: services[i].Lat,\n            vehicleRef: services[i].VehicleRef\n        }\n    });\n}\n\nreturn [results];","outputs":1,"noerr":0,"x":690,"y":280,"wires":[["633b411.ab06c4","5ba29bcb.d99dc4"]]},{"id":"4acb9134.f8ee98","type":"json","z":"9dd84a9b.b093e","name":"","property":"payload","action":"","pretty":false,"x":550,"y":280,"wires":[["a44bbad3.bdc29"]]},{"id":"5f96cf50.34c3f","type":"switch","z":"6461f072.dc1338","name":"Button1","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":860,"wires":[["9c9f7c21.57c02"]]},{"id":"52069e47.4b7b4","type":"debug","z":"6461f072.dc1338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.state.buttonevent","targetType":"msg","x":1270,"y":1160,"wires":[]},{"id":"9c9f7c21.57c02","type":"switch","z":"6461f072.dc1338","name":"","property":"payload.state.buttonevent","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"1004","vt":"str"},{"t":"eq","v":"1005","vt":"str"},{"t":"eq","v":"1006","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":890,"y":860,"wires":[["ca4efa2f.e0ca18"],["e8870129.fc893"],["31e29d55.7ad4a2"],["15711d91.7d4e02"]]},{"id":"ca4efa2f.e0ca18","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/button1/tap","qos":"","retain":"","broker":"1587791.fcbfc07","x":1150,"y":860,"wires":[]},{"id":"e8870129.fc893","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/button1/doubletap","qos":"","retain":"","broker":"1587791.fcbfc07","x":1180,"y":900,"wires":[]},{"id":"31e29d55.7ad4a2","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/button1/tripletap","qos":"","retain":"","broker":"1587791.fcbfc07","x":1170,"y":940,"wires":[]},{"id":"15711d91.7d4e02","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/button1/quadtap","qos":"","retain":"","broker":"1587791.fcbfc07","x":1170,"y":980,"wires":[]},{"id":"d30786d0.042bc8","type":"mqtt in","z":"94f6bb63.1811a8","name":"","topic":"/device/aqara/button1/doubletap","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":170,"y":620,"wires":[["9b76472f.8e1b5"]]},{"id":"f9df1df4.e5d9e","type":"mqtt in","z":"94f6bb63.1811a8","name":"","topic":"/device/aqara/button1/tap","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":150,"y":700,"wires":[["3a42752e.1c6e0a"]]},{"id":"d965b6ef.b09f1","type":"trigger","z":"94f6bb63.1811a8","op1":"","op2":"START_BLINKING","op1type":"nul","op2type":"str","duration":"3","extend":true,"units":"s","reset":"$OFF","bytopic":"all","name":"","x":640,"y":660,"wires":[["9c6142fe.c8efd"]]},{"id":"9c6142fe.c8efd","type":"function","z":"94f6bb63.1811a8","name":"startBlink","func":"var BLINKDELAY = 1000;\n\nvar light = true;\n\n\nvar blinker = setInterval(blink, BLINKDELAY);\n\nglobal.set(\"blinker\", blinker);\n\nfunction blink () {\n    \n    if (light) {\n        msg.payload = 1;\n        light = false;\n    }\n    \n    else {\n        msg.payload = 0;\n        light = true;\n    }\n    \n    node.send(msg);\n}\n\n\nreturn;","outputs":1,"noerr":0,"x":800,"y":660,"wires":[["bf3d6ce9.01aa"]]},{"id":"3a42752e.1c6e0a","type":"function","z":"94f6bb63.1811a8","name":"stopBlink","func":"clearInterval(global.get(\"blinker\"));\n\nmsg.payload = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":700,"wires":[["bf3d6ce9.01aa"]]},{"id":"6556f5d0.c6d894","type":"function","z":"94f6bb63.1811a8","name":"Flash Once","func":"var BLINKDELAY = 250;\n\nvar light = true;\n\nvar blinker = setInterval(blink, BLINKDELAY);\n\nglobal.set(\"blinker\", blinker);\n\nfunction blink () {\n    \n    if (light) {\n        msg.payload = 1;\n        light = false;\n    }\n    \n    else {\n        msg.payload = 0;\n        light = true;\n        clearInterval(global.get(\"blinker\"));\n    }\n    \n    node.send(msg);\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":600,"wires":[["d965b6ef.b09f1","bf3d6ce9.01aa"]]},{"id":"9b76472f.8e1b5","type":"function","z":"94f6bb63.1811a8","name":"$LED_ALL$ON","func":"msg.payload = \"$LED_ALL$ON\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":600,"wires":[["6556f5d0.c6d894"]]},{"id":"bf3d6ce9.01aa","type":"function","z":"94f6bb63.1811a8","name":"to $LED_ALL","func":"if (msg.payload === 0 || msg.payload === \"$LED_ALL$ON\") {\n    msg.payload = \"$LED_ALL$ON\";\n}\nelse {\n    msg.payload = \"$LED_ALL$OFF\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":600,"wires":[["c6c7ed7c.e7a44","20e093f3.2d0a5c"]]},{"id":"7a52bf64.156c08","type":"debug","z":"6461f072.dc1338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":500,"wires":[]},{"id":"20e093f3.2d0a5c","type":"debug","z":"94f6bb63.1811a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1250,"y":600,"wires":[]}]