nodered/data/flows.json
[{"id":"36b23c0d.bf2cec","type":"tab","label":"Workshop","disabled":false,"info":""},{"id":"e8ebc87d.0e1fe8","type":"tab","label":"Global","disabled":false,"info":""},{"id":"e37df6bc.11daa","type":"tab","label":"3D Printer","disabled":false,"info":""},{"id":"94f6bb63.1811a8","type":"tab","label":"Kitchen","disabled":false,"info":""},{"id":"6461f072.dc1338","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"53615c48.79fc2c","type":"tab","label":"Home Assistant","disabled":false,"info":""},{"id":"aac72c62.ffcac","type":"subflow","name":"Subflow 1","info":"","in":[{"x":280,"y":160,"wires":[{"id":"f7020136.fce1e8"}]}],"out":[]},{"id":"49385e01.b3f238","type":"subflow","name":"Cube","info":"msg.event = \"Slide, Flip, 180 Flip, Double tap, Drop\"\nmsg.side","category":"","in":[{"x":60,"y":40,"wires":[{"id":"ace1b8e5.93c158"}]}],"out":[{"x":760,"y":100,"wires":[{"id":"ebb0c078.7c2708","port":0}]},{"x":760,"y":260,"wires":[{"id":"ace1b8e5.93c158","port":0}]}],"env":[]},{"id":"5cd102c5.e6257c","type":"subflow","name":"Vibration Sensor","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"8685a857.22371"}]}],"out":[{"x":800,"y":60,"wires":[{"id":"645448dc.4cbbf8","port":0}]},{"x":820,"y":180,"wires":[{"id":"63c2bef9.3bb31","port":1}]}],"env":[]},{"id":"5a42b34b.06243c","type":"subflow","name":"Bedroom Lights","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"88d2e991.a63698"},{"id":"cb83c19d.e843d"},{"id":"7d4e0e1f.6fe7f"}]}],"out":[{"x":560,"y":80,"wires":[{"id":"88d2e991.a63698","port":0},{"id":"cb83c19d.e843d","port":0},{"id":"7d4e0e1f.6fe7f","port":0}]}],"env":[]},{"id":"1587791.fcbfc07","type":"mqtt-broker","z":"","name":"MQTT","broker":"192.168.1.105","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ab9de612.cbad7","type":"mui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3fae961a.e0e002","type":"websocket-listener","z":"","path":"ws://192.168.1.105:8088","wholemsg":"false"},{"id":"c62ab10f.01fc5","type":"websocket-client","z":"","path":"ws://192.168.1.105:443","tls":"","wholemsg":"false"},{"id":"c91e92a4.14be78","type":"pushbullet-config","z":"","name":""},{"id":"20ee583c.c63568","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/atari-stick/BUTTON_UP/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":190,"y":100,"wires":[["3ab22809.2a6ce8"]]},{"id":"aabb5468.30ea6","type":"mqtt out","z":"e8ebc87d.0e1fe8","name":"","topic":"/dev/timestamp","qos":"","retain":"","broker":"1587791.fcbfc07","x":500,"y":80,"wires":[]},{"id":"f35f639c.2d73b8","type":"inject","z":"e8ebc87d.0e1fe8","name":"1 Second","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["aabb5468.30ea6"]]},{"id":"e3eec603.af15e","type":"comment","z":"36b23c0d.bf2cec","name":"COMPUTER DESK LIGHT","info":"","x":150,"y":60,"wires":[]},{"id":"f7020136.fce1e8","type":"function","z":"aac72c62.ffcac","name":"RELAY_ON","func":"var smtskt2sstate=flow.get('smtskt2sstate') || 0;\n\nif (smtskt2sstate === 0) {\n    msg.payload = \"$RELAY$ON\";\n    flow.set('smtskt2sstate', 1);\n}\nelse {\n    msg.payload = \"$RELAY$OFF\";\n    flow.set('smtskt2sstate', 0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":160,"wires":[[]]},{"id":"ddd01429.1a5618","type":"function","z":"36b23c0d.bf2cec","name":"GetSocketNumFromTopic","func":"var socket = msg.topic.replace(\"/device/smartsocket/\", \"\");\nsocket = socket.replace(\"/event\", \"\");\nmsg.payload = socket;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":420,"wires":[["3ba51f99.ad0fe"]]},{"id":"e383679.ecdae98","type":"function","z":"36b23c0d.bf2cec","name":"LED Command","func":"\nmsg.payload = \"$LED\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":400,"wires":[["45fc84d0.2698ac"]]},{"id":"45fc84d0.2698ac","type":"mqtt out","z":"36b23c0d.bf2cec","name":"","topic":"","qos":"","retain":"","broker":"1587791.fcbfc07","x":1530,"y":420,"wires":[]},{"id":"a7628eb2.c23248","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/atari-stick/BUTTON_FIRE/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":190,"y":160,"wires":[["3ab22809.2a6ce8"]]},{"id":"7720d9a.f0197a8","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/atari-stick/BUTTON_DOWN/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":200,"y":340,"wires":[[]]},{"id":"8a51465b.a13588","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/atari-stick/BUTTON_LEFT/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":200,"y":220,"wires":[["5a0e6c41.ea4cdc"]]},{"id":"b20b3bc5.71bb68","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/atari-stick/BUTTON_RIGHT/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":200,"y":280,"wires":[["ffcb98fc.661b98"]]},{"id":"c161d606.720788","type":"mqtt out","z":"36b23c0d.bf2cec","name":"","topic":"/device/atari-stick/LED/command","qos":"","retain":"","broker":"1587791.fcbfc07","x":1520,"y":100,"wires":[]},{"id":"ffcb98fc.661b98","type":"function","z":"36b23c0d.bf2cec","name":"MapTo SKT#3","func":"msg.topic = \"/device/smartsocket/SMTSKT03/event\";\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":280,"wires":[["ddd01429.1a5618"]]},{"id":"a2f89304.629a3","type":"function","z":"36b23c0d.bf2cec","name":"RELAY Command","func":"\nmsg.payload = \"$RELAY\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":440,"wires":[["45fc84d0.2698ac"]]},{"id":"3ba51f99.ad0fe","type":"function","z":"36b23c0d.bf2cec","name":"Manage State","func":"var socketname = msg.payload\nvar state = flow.get(socketname) || 0;\nvar event = msg.event;\nif (state === 1 && (event === undefined || event == \"doubletap\")) {\n    flow.set(socketname, 0);\n    msg.payload = \"$OFF\";\n}\nelse if (state === 0  && (event === undefined || event == \"shake\")) {\n    flow.set(socketname, 1);\n    msg.payload = \"$ON\";\n}\n\nmsg.topic = \"/device/smartsocket/\" + socketname + \"/command\";\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":420,"wires":[["e383679.ecdae98","a2f89304.629a3"]]},{"id":"e84b5960.eb68f8","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/smartsocket/SMTSKT02/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":190,"y":540,"wires":[["ddd01429.1a5618"]]},{"id":"b1a6f0d1.85df3","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/smartsocket/SMTSKT03/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":190,"y":580,"wires":[["ddd01429.1a5618"]]},{"id":"7af67802.9e5e7","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/smartsocket/SMTSKT07/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":190,"y":660,"wires":[["ddd01429.1a5618"]]},{"id":"190d0f40.300279","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/smartsocket/SMTSKT04/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":190,"y":620,"wires":[["ddd01429.1a5618"]]},{"id":"5a0e6c41.ea4cdc","type":"function","z":"36b23c0d.bf2cec","name":"MapTo SKT#7","func":"msg.topic = \"/device/smartsocket/SMTSKT07/event\";\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["ddd01429.1a5618"]]},{"id":"3ab22809.2a6ce8","type":"function","z":"36b23c0d.bf2cec","name":"MapTo SKT#4","func":"msg.topic = \"/device/smartsocket/SMTSKT04/event\";\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":100,"wires":[["ddd01429.1a5618","bf76f764.ba59e"]]},{"id":"de870417.41c868","type":"mqtt in","z":"e37df6bc.11daa","name":"","topic":"octoprint/progress/printing","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":250,"y":80,"wires":[["2f56d646.b3cee2"]]},{"id":"924fac09.b5c4f8","type":"debug","z":"e37df6bc.11daa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":80,"wires":[]},{"id":"2f56d646.b3cee2","type":"json","z":"e37df6bc.11daa","name":"","property":"payload","action":"","pretty":false,"x":470,"y":80,"wires":[["924fac09.b5c4f8"]]},{"id":"2f61a01b.9b9538","type":"mqtt in","z":"e37df6bc.11daa","name":"","topic":"octoprint/event/PrintDone","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":250,"y":140,"wires":[["2f56d646.b3cee2"]]},{"id":"ad4e6036.66068","type":"mqtt in","z":"94f6bb63.1811a8","name":"","topic":"/device/smartsocket/SMTSKT05/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":190,"y":300,"wires":[["4cb3b10.65b125"]]},{"id":"c6c7ed7c.e7a44","type":"mqtt out","z":"94f6bb63.1811a8","name":"","topic":"/kitchen/bench-lights/command","qos":"","retain":"","broker":"1587791.fcbfc07","x":1090,"y":340,"wires":[]},{"id":"2cc67f4b.859a2","type":"function","z":"94f6bb63.1811a8","name":"ON/OFF","func":"var kitchenlightsstate = flow.get('kitchenlightsstate') || 0;\n\nif (msg.payload == \"EV_RELEASED\" || msg.event == \"Shake\" || msg.event == \"Drop\") {\n    if (kitchenlightsstate === 0) {\n        msg.payload = \"$LED_ALL$ON\";\n        flow.set('kitchenlightsstate', 1);\n    }\n    else {\n        msg.payload = \"$LED_ALL$OFF\";\n        flow.set('kitchenlightsstate', 0);\n    }\n// } else if (msg.payload == \"EV_RELEASED\" || msg.event == \"Double Tap\") {\n//     msg.payload = \"$LED_ALL$OFF\";\n//     flow.set('kitchenlightsstate', 0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":340,"wires":[["c6c7ed7c.e7a44","696bea98.834694"]]},{"id":"91f32b09.0c416","type":"mqtt in","z":"94f6bb63.1811a8","name":"","topic":"/kitchen/bench-lights/online","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":160,"y":400,"wires":[["c048b89b.f67538"]]},{"id":"c048b89b.f67538","type":"trigger","z":"94f6bb63.1811a8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1000","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Online","x":430,"y":400,"wires":[[]]},{"id":"aba6a0c1.23b6e8","type":"mqtt in","z":"94f6bb63.1811a8","name":"","topic":"/device/smartsocket/SMTSKT05/online","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":190,"y":220,"wires":[["28107b5c.02f48c"]]},{"id":"28107b5c.02f48c","type":"trigger","z":"94f6bb63.1811a8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1000","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Online","x":450,"y":220,"wires":[[]]},{"id":"1ab14664.93501a","type":"comment","z":"94f6bb63.1811a8","name":"KITCHEN BENCH LIGHT","info":"","x":150,"y":180,"wires":[]},{"id":"4cb3b10.65b125","type":"function","z":"94f6bb63.1811a8","name":"BOOT","func":"if (msg.payload === \"BOOT\") {\n    msg.payload = \"$RELAY$ON\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["be2a3e99.b5991"]]},{"id":"be2a3e99.b5991","type":"mqtt out","z":"94f6bb63.1811a8","name":"","topic":"/device/smartsocket/SMTSKT05/command","qos":"","retain":"","broker":"1587791.fcbfc07","x":1130,"y":260,"wires":[]},{"id":"41b80aaa.e8d8f4","type":"mqtt in","z":"94f6bb63.1811a8","name":"","topic":"/kitchen/bench-lights/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":150,"y":340,"wires":[["2cc67f4b.859a2"]]},{"id":"6c5b794b.14c2b","type":"inject","z":"94f6bb63.1811a8","name":"","topic":"","payload":"$LED_PERCENT$20$GREEN","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":600,"wires":[["c6c7ed7c.e7a44"]]},{"id":"bf76f764.ba59e","type":"debug","z":"36b23c0d.bf2cec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":100,"wires":[]},{"id":"d81400ed.2097d8","type":"inject","z":"36b23c0d.bf2cec","name":"","topic":"","payload":"{\"payload\":{\"mid\":1,\"vol\":27}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":740,"wires":[[]]},{"id":"118d1e2e.31db22","type":"websocket in","z":"6461f072.dc1338","name":"","server":"","client":"c62ab10f.01fc5","x":160,"y":140,"wires":[["20fc1b8c.fc08bc","bbcaea0c.1d1878"]]},{"id":"52aa2024.1ab108","type":"inject","z":"6461f072.dc1338","name":"OFF","topic":"","payload":"{\"on\":false,\"bri\":255,\"hue\":43680,\"sat\":255,\"transitiontime\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":890,"y":120,"wires":[["fc121890.bc39c"]]},{"id":"7c7e391f.39675","type":"inject","z":"6461f072.dc1338","name":"ON","topic":"","payload":"{\"on\":true,\"bri\":255,\"hue\":43680,\"sat\":255,\"transitiontime\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":890,"y":160,"wires":[["fc121890.bc39c"]]},{"id":"b4c98b96.3c6cb","type":"comment","z":"6461f072.dc1338","name":"https://github.com/dresden-elektronik/deconz-rest-plugin/issues/138#issuecomment-325101635","info":"https://github.com/dresden-elektronik/deconz-rest-plugin/issues/138#issuecomment-325101635","x":350,"y":740,"wires":[]},{"id":"87d529e3.272978","type":"switch","z":"49385e01.b3f238","name":"Cube","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":140,"wires":[["ebb0c078.7c2708"],[]]},{"id":"ebb0c078.7c2708","type":"function","z":"49385e01.b3f238","name":"Event (.event, .side)","func":"\nif (msg.payload.state === undefined || \n    msg.payload.state.buttonevent === undefined) {\n    return null;\n}\n\nvar event = msg.payload.state.buttonevent;\nvar side = Math.round(event/1000);\nvar modifier = event - (side * 1000);\nmsg.side = side;\n\nif (event % 1000 === 0) {\n    msg.event = \"slide\";\n}\nelse if (event === 7007) {\n    msg.event = \"shake\";\n}\nelse if (event === (side*1000) + side) {\n    msg.event = \"doubletap\";\n}\nelse if (side + modifier === 7) {\n    msg.event = \"180flip\";\n}\nelse if (side != 7 - modifier) {\n    msg.event = \"flip\";\n}\nelse if (event === 7008) {\n    msg.event = \"drop\";\n}\nelse {\n    msg.event = \"unknown (\" + event + \")\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":100,"wires":[[]]},{"id":"ace1b8e5.93c158","type":"json","z":"49385e01.b3f238","name":"","property":"payload","action":"","pretty":false,"x":210,"y":260,"wires":[["87d529e3.272978"]]},{"id":"696bea98.834694","type":"debug","z":"94f6bb63.1811a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1020,"y":440,"wires":[]},{"id":"ef9a8b57.8f203","type":"mqtt out","z":"6461f072.dc1338","name":"/device/cube1/{msg.event}","topic":"","qos":"","retain":"","broker":"1587791.fcbfc07","x":1060,"y":440,"wires":[]},{"id":"b09eec09.28feb8","type":"mqtt in","z":"6461f072.dc1338","name":"/device/cube1/+","topic":"/device/cube1/+","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":120,"y":240,"wires":[["f3f67b62.b16348"]]},{"id":"f3f67b62.b16348","type":"debug","z":"6461f072.dc1338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":240,"wires":[]},{"id":"b0d0faf6.91905","type":"comment","z":"49385e01.b3f238","name":"Links","info":"http://blog.smarterhome.club/2019/04/30/raspbee4/","x":470,"y":220,"wires":[]},{"id":"6005f3cd.b2c894","type":"mqtt in","z":"36b23c0d.bf2cec","name":"/device/cube1/+","topic":"/device/cube1/+","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":140,"y":20,"wires":[["427252bc.90d32c"]]},{"id":"6c16383c.8e319","type":"debug","z":"6461f072.dc1338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":40,"wires":[]},{"id":"20fc1b8c.fc08bc","type":"json","z":"6461f072.dc1338","name":"","property":"payload","action":"","pretty":false,"x":470,"y":40,"wires":[["c10d3626.03d4d"]]},{"id":"f4e679c5.8d6138","type":"mqtt in","z":"53615c48.79fc2c","name":"","topic":"/homeassistant/life360","qos":"2","datatype":"utf8","broker":"1587791.fcbfc07","x":260,"y":340,"wires":[["57fef6e2.3b5f68","b38288eb.6dd94"]]},{"id":"57fef6e2.3b5f68","type":"debug","z":"53615c48.79fc2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":460,"wires":[]},{"id":"e130bdb4.f52bf8","type":"pushbullet","z":"53615c48.79fc2c","config":"c91e92a4.14be78","pushtype":"note","title":"","chan":"","name":"","x":1030,"y":340,"wires":[]},{"id":"c10d3626.03d4d","type":"function","z":"6461f072.dc1338","name":"Motion Movement","func":"\nvar isDoor = msg.payload.id == \"8\";\nvar isBench = msg.payload.id == \"6\";\nvar isCubeSlide = msg.event == \"slide\";\n\nif (!isDoor && !isBench && !isCubeSlide) {\n    return null;\n}\nvar presence = msg.payload.state.presence || isCubeSlide;\nif (presence) {\n   return msg; \n}\nreturn null;","outputs":1,"noerr":0,"x":670,"y":40,"wires":[["6c16383c.8e319","74d0143e.5cd55c"]]},{"id":"74d0143e.5cd55c","type":"trigger","z":"6461f072.dc1338","op1":"{\"on\":true,\"bri\":255,\"hue\":43680,\"sat\":255,\"transitiontime\":10}","op2":"{\"on\":false,\"bri\":255,\"hue\":43680,\"sat\":255,\"transitiontime\":10}","op1type":"str","op2type":"str","duration":"10","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":890,"y":80,"wires":[["fc121890.bc39c"]]},{"id":"427252bc.90d32c","type":"debug","z":"36b23c0d.bf2cec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":20,"wires":[]},{"id":"63c2bef9.3bb31","type":"switch","z":"5cd102c5.e6257c","name":"Vibration","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"9","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":100,"wires":[["645448dc.4cbbf8"],[]]},{"id":"645448dc.4cbbf8","type":"function","z":"5cd102c5.e6257c","name":"msg.strength","func":"if (msg.payload.state === undefined ||\n    msg.payload.state.vibration === undefined) {\n    return null;        \n}\n\nif (msg.payload.state.vibration === true) {\n    msg.strength = msg.payload.state.strength;\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":530,"y":60,"wires":[[]]},{"id":"8685a857.22371","type":"json","z":"5cd102c5.e6257c","name":"","property":"payload","action":"","pretty":false,"x":210,"y":220,"wires":[["63c2bef9.3bb31"]]},{"id":"d0e4f693.b1f8a8","type":"comment","z":"5cd102c5.e6257c","name":"Links","info":"http://blog.smarterhome.club/2019/04/30/raspbee4/","x":470,"y":180,"wires":[]},{"id":"492643fa.e27d44","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/frontdoor-vibration","qos":"","retain":"","broker":"1587791.fcbfc07","x":1060,"y":560,"wires":[]},{"id":"9da6a36e.4ad2b","type":"pushbullet in","z":"53615c48.79fc2c","config":"c91e92a4.14be78","name":"","x":220,"y":460,"wires":[["57fef6e2.3b5f68"]]},{"id":"88d2e991.a63698","type":"http request","z":"5a42b34b.06243c","name":"Light 1 State","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/E09E33DE20/lights/1/state","tls":"","proxy":"","authType":"","x":310,"y":100,"wires":[[]]},{"id":"cb83c19d.e843d","type":"http request","z":"5a42b34b.06243c","name":"Light 2 State","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/E09E33DE20/lights/2/state","tls":"","proxy":"","authType":"","x":310,"y":160,"wires":[[]]},{"id":"7d4e0e1f.6fe7f","type":"http request","z":"5a42b34b.06243c","name":"Light 3 State","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/E09E33DE20/lights/3/state","tls":"","proxy":"","authType":"","x":310,"y":220,"wires":[[]]},{"id":"fc121890.bc39c","type":"subflow:5a42b34b.06243c","z":"6461f072.dc1338","name":"","x":1160,"y":80,"wires":[[]]},{"id":"bbcaea0c.1d1878","type":"json","z":"6461f072.dc1338","name":"","property":"payload","action":"","pretty":false,"x":370,"y":480,"wires":[["bda14701.ebbff","b335a4b7.0d55c","51c6b188.f4cd38","11c333a8.4a2ec4","a924fde8.639168","d891b018.842248"]]},{"id":"bda14701.ebbff","type":"switch","z":"6461f072.dc1338","name":"Motion Bench","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"6","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":520,"wires":[[],[]]},{"id":"51c6b188.f4cd38","type":"switch","z":"6461f072.dc1338","name":"Motion Door","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"8","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":480,"wires":[[]]},{"id":"b335a4b7.0d55c","type":"switch","z":"6461f072.dc1338","name":"Cube1","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":440,"wires":[["e0490184.b822e8"]]},{"id":"11c333a8.4a2ec4","type":"switch","z":"6461f072.dc1338","name":"Vibration Front Door","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"9","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":560,"wires":[["492643fa.e27d44"],[]]},{"id":"a924fde8.639168","type":"switch","z":"6461f072.dc1338","name":"Vibration Other","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":600,"wires":[[],[]]},{"id":"e0490184.b822e8","type":"function","z":"6461f072.dc1338","name":"Make topic","func":"msg.topic = \"/device/cube1/\" + msg.event;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":440,"wires":[["ef9a8b57.8f203"]]},{"id":"d891b018.842248","type":"switch","z":"6461f072.dc1338","name":"Lights","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":530,"y":660,"wires":[[],[],[]]},{"id":"b38288eb.6dd94","type":"function","z":"53615c48.79fc2c","name":"","func":"msg.payload = msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":340,"wires":[["e130bdb4.f52bf8","d9c6e44c.f222"]]},{"id":"d9c6e44c.f222","type":"debug","z":"53615c48.79fc2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":820,"y":400,"wires":[]},{"id":"92205485.9a0f7","type":"mqtt out","z":"94f6bb63.1811a8","name":"","topic":"","qos":"","retain":"","broker":"1587791.fcbfc07","x":860,"y":180,"wires":[]},{"id":"e3a384d7.d98828","type":"inject","z":"94f6bb63.1811a8","name":"","topic":"/device/smartsocket/SMTSKT05/event","payload":"EV_RELEASED","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":180,"wires":[["92205485.9a0f7"]]},{"id":"a8490786.cdd378","type":"mqtt in","z":"94f6bb63.1811a8","name":"","topic":"/homeassistant/lights/kitchenbench","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","x":220,"y":60,"wires":[["907123d6.f9d6a","2bc7ba86.d76b66"]]},{"id":"907123d6.f9d6a","type":"debug","z":"94f6bb63.1811a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":120,"wires":[]},{"id":"2bc7ba86.d76b66","type":"mqtt out","z":"94f6bb63.1811a8","name":"","topic":"/kitchen/bench-lights/command","qos":"","retain":"","broker":"1587791.fcbfc07","x":950,"y":60,"wires":[]}]