nodered/data/flows.json
[{"id":"6bc6a58f892d5f86","type":"tab","label":"Recovered Nodes","disabled":false,"info":"The nodes on this flow were missing a valid flow id when they were imported. They have been added to this flow so you can either restore or delete them.","env":[]},{"id":"36b23c0d.bf2cec","type":"tab","label":"Workshop","disabled":false,"info":""},{"id":"e8ebc87d.0e1fe8","type":"tab","label":"Global","disabled":false,"info":""},{"id":"e37df6bc.11daa","type":"tab","label":"3D Printer","disabled":false,"info":""},{"id":"94f6bb63.1811a8","type":"tab","label":"Kitchen","disabled":false,"info":""},{"id":"6461f072.dc1338","type":"tab","label":"Deconz","disabled":false,"info":""},{"id":"9dd84a9b.b093e","type":"tab","label":"Bus","disabled":false,"info":""},{"id":"c79a5793.feeff8","type":"tab","label":"Lounge","disabled":false,"info":""},{"id":"742f94f2.a3296c","type":"tab","label":"Dining Room","disabled":false,"info":""},{"id":"fae66450.b1de","type":"tab","label":"Liam's House","disabled":false,"info":""},{"id":"81285515.4f20b","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"aac72c62.ffcac","type":"subflow","name":"Subflow 1","info":"","in":[{"x":280,"y":160,"wires":[{"id":"f7020136.fce1e8"}]}],"out":[]},{"id":"49385e01.b3f238","type":"subflow","name":"Cube","info":"msg.event = \"Slide, Flip, 180 Flip, Double tap, Drop\"\nmsg.side","category":"","in":[{"x":60,"y":40,"wires":[{"id":"ace1b8e5.93c158"}]}],"out":[{"x":760,"y":100,"wires":[{"id":"ebb0c078.7c2708","port":0}]},{"x":760,"y":260,"wires":[{"id":"ace1b8e5.93c158","port":0}]}],"env":[]},{"id":"5cd102c5.e6257c","type":"subflow","name":"Vibration Sensor","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"8685a857.22371"}]}],"out":[{"x":800,"y":60,"wires":[{"id":"645448dc.4cbbf8","port":0}]},{"x":820,"y":180,"wires":[{"id":"63c2bef9.3bb31","port":1}]}],"env":[]},{"id":"5a42b34b.06243c","type":"subflow","name":"Bedroom Lights","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"88d2e991.a63698"},{"id":"cb83c19d.e843d"},{"id":"7d4e0e1f.6fe7f"}]}],"out":[{"x":560,"y":80,"wires":[{"id":"88d2e991.a63698","port":0},{"id":"cb83c19d.e843d","port":0},{"id":"7d4e0e1f.6fe7f","port":0}]}],"env":[]},{"id":"1587791.fcbfc07","type":"mqtt-broker","name":"MQTT","broker":"192.168.1.105","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3fae961a.e0e002","type":"websocket-listener","path":"ws://192.168.1.105:8088","wholemsg":"false"},{"id":"c62ab10f.01fc5","type":"websocket-client","path":"ws://192.168.1.105:443","tls":"","wholemsg":"false"},{"id":"c91e92a4.14be78","type":"pushbullet-config","name":""},{"id":"d5f10d10.41d608","type":"websocket-listener","path":"http://192.168.1.105:80/api/E09E33DE20/lights","wholemsg":"false"},{"id":"c189a468.dd75a","type":"ui_tab","name":"Home","icon":"dashboard","order":""},{"id":"114d57a3.c0a97","type":"ui_group","name":"Otaghe e Liam","tab":"ffa368b9.ffa8d","disp":true,"width":"12","collapse":false},{"id":"d334b4b.ac7cbc8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1e457989.8585e6","type":"ui_group","name":"Workshop","tab":"ffa368b9.ffa8d","disp":true,"width":"10","collapse":false},{"id":"ffa368b9.ffa8d","type":"ui_tab","name":"Start","icon":"dashboard","disabled":false,"hidden":false},{"id":"f57f7c48.6fa358","type":"ui_group","name":"test","tab":"dcbe1ae7.456c3","order":3,"disp":true,"width":"7","collapse":true},{"id":"dcbe1ae7.456c3","type":"ui_tab","name":"test","icon":"fa-television","order":2},{"id":"3da98d5b.f5260a","type":"ui_group","name":"Lounge","tab":"ffa368b9.ffa8d","disp":true,"width":"12","collapse":false},{"id":"f7020136.fce1e8","type":"function","z":"aac72c62.ffcac","name":"RELAY_ON","func":"var smtskt2sstate=flow.get('smtskt2sstate') || 0;\n\nif (smtskt2sstate === 0) {\n    msg.payload = \"$RELAY$ON\";\n    flow.set('smtskt2sstate', 1);\n}\nelse {\n    msg.payload = \"$RELAY$OFF\";\n    flow.set('smtskt2sstate', 0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":160,"wires":[[]]},{"id":"87d529e3.272978","type":"switch","z":"49385e01.b3f238","name":"Cube","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":140,"wires":[["ebb0c078.7c2708"],[]]},{"id":"ebb0c078.7c2708","type":"function","z":"49385e01.b3f238","name":"Event (.event, .side)","func":"\nif (msg.payload.state === undefined || \n    msg.payload.state.buttonevent === undefined) {\n    return null;\n}\n\nvar event = msg.payload.state.buttonevent;\nvar side = Math.round(event/1000);\nvar modifier = event - (side * 1000);\nmsg.side = side;\n\nif (event % 1000 === 0) {\n    msg.event = \"slide\";\n}\nelse if (event === 7007) {\n    msg.event = \"shake\";\n}\nelse if (event === (side*1000) + side) {\n    msg.event = \"doubletap\";\n}\nelse if (side + modifier === 7) {\n    msg.event = \"180flip\";\n}\nelse if (side != 7 - modifier) {\n    msg.event = \"flip\";\n}\nelse if (event === 7008) {\n    msg.event = \"drop\";\n}\nelse {\n    msg.event = \"unknown (\" + event + \")\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":100,"wires":[[]]},{"id":"ace1b8e5.93c158","type":"json","z":"49385e01.b3f238","name":"","property":"payload","action":"","pretty":false,"x":210,"y":260,"wires":[["87d529e3.272978"]]},{"id":"b0d0faf6.91905","type":"comment","z":"49385e01.b3f238","name":"Links","info":"http://blog.smarterhome.club/2019/04/30/raspbee4/","x":470,"y":220,"wires":[]},{"id":"63c2bef9.3bb31","type":"switch","z":"5cd102c5.e6257c","name":"Vibration","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"9","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":100,"wires":[["645448dc.4cbbf8"],[]]},{"id":"645448dc.4cbbf8","type":"function","z":"5cd102c5.e6257c","name":"msg.strength","func":"if (msg.payload.state === undefined ||\n    msg.payload.state.vibration === undefined) {\n    return null;        \n}\n\nif (msg.payload.state.vibration === true) {\n    msg.strength = msg.payload.state.strength;\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":530,"y":60,"wires":[[]]},{"id":"8685a857.22371","type":"json","z":"5cd102c5.e6257c","name":"","property":"payload","action":"","pretty":false,"x":210,"y":220,"wires":[["63c2bef9.3bb31"]]},{"id":"d0e4f693.b1f8a8","type":"comment","z":"5cd102c5.e6257c","name":"Links","info":"http://blog.smarterhome.club/2019/04/30/raspbee4/","x":470,"y":180,"wires":[]},{"id":"88d2e991.a63698","type":"http request","z":"5a42b34b.06243c","name":"Light 1 State","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/4/state","tls":"","proxy":"","authType":"","x":310,"y":100,"wires":[[]]},{"id":"cb83c19d.e843d","type":"http request","z":"5a42b34b.06243c","name":"Light 2 State","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/5/state","tls":"","proxy":"","authType":"","x":310,"y":160,"wires":[[]]},{"id":"7d4e0e1f.6fe7f","type":"http request","z":"5a42b34b.06243c","name":"Light 3 State","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/6/state","tls":"","proxy":"","authType":"","x":310,"y":220,"wires":[[]]},{"id":"e3eec603.af15e","type":"comment","z":"36b23c0d.bf2cec","name":"WORKSHOP LIGHTS","info":"","x":140,"y":300,"wires":[]},{"id":"ddd01429.1a5618","type":"function","z":"36b23c0d.bf2cec","name":"GetSocketNumFromTopic","func":"var socket = msg.topic.replace(\"/device/smartsocket/\", \"\");\nsocket = socket.replace(\"/event\", \"\");\nmsg.payload = socket;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":760,"wires":[["3ba51f99.ad0fe"]]},{"id":"e383679.ecdae98","type":"function","z":"36b23c0d.bf2cec","name":"LED Command","func":"\nmsg.payload = \"$LED\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":740,"wires":[["45fc84d0.2698ac","cf51229f.a089a8"]]},{"id":"45fc84d0.2698ac","type":"mqtt out","z":"36b23c0d.bf2cec","name":"","topic":"","qos":"","retain":"","broker":"1587791.fcbfc07","x":2030,"y":760,"wires":[]},{"id":"7720d9a.f0197a8","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/atari-stick/BUTTON_DOWN/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":200,"y":820,"wires":[[]]},{"id":"8a51465b.a13588","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/atari-stick/BUTTON_LEFT/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":200,"y":740,"wires":[["5a0e6c41.ea4cdc"]]},{"id":"b20b3bc5.71bb68","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/atari-stick/BUTTON_RIGHT/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":200,"y":780,"wires":[["ffcb98fc.661b98"]]},{"id":"ffcb98fc.661b98","type":"function","z":"36b23c0d.bf2cec","name":"MapTo SKT#3","func":"msg.topic = \"/device/smartsocket/SMTSKT03/event\";\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":760,"wires":[["ddd01429.1a5618"]]},{"id":"a2f89304.629a3","type":"function","z":"36b23c0d.bf2cec","name":"RELAY Command","func":"\nmsg.payload = \"$RELAY\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":780,"wires":[["45fc84d0.2698ac","cf51229f.a089a8"]]},{"id":"3ba51f99.ad0fe","type":"function","z":"36b23c0d.bf2cec","name":"Manage State","func":"var socketname = msg.payload\nvar state = flow.get(socketname) || 0;\nvar event = msg.event;\nif (state === 1 && (event === undefined || event == \"doubletap\")) {\n    flow.set(socketname, 0);\n    msg.payload = \"$OFF\";\n}\nelse if (state === 0  && (event === undefined || event == \"shake\")) {\n    flow.set(socketname, 1);\n    msg.payload = \"$ON\";\n}\n\nmsg.topic = \"/device/smartsocket/\" + socketname + \"/command\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":760,"wires":[["e383679.ecdae98","a2f89304.629a3"]]},{"id":"5a0e6c41.ea4cdc","type":"function","z":"36b23c0d.bf2cec","name":"MapTo SKT#7 (Soldering Iron)","func":"msg.topic = \"/device/smartsocket/SMTSKT07/event\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":720,"wires":[["ddd01429.1a5618"]]},{"id":"1f6f1f24.3ae6e9","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/motion/door/event","qos":"2","datatype":"json","broker":"1587791.fcbfc07","inputs":0,"x":150,"y":340,"wires":[["c116e06f.c48968"]]},{"id":"36daac85.8fa87c","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/atari-stick/BUTTON_FIRE/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":200,"y":660,"wires":[[]]},{"id":"5038398f.a79928","type":"function","z":"36b23c0d.bf2cec","name":"Make light payload (on=msg.state)","func":"msg.payload = {\n    \"on\":msg.state,\n    \"bri\":255,\n    \"hue\":43680,\n    \"sat\":255,\n    \"transitiontime\":10\n};\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":340,"wires":[["14884e89.ec9409","55d1c0.2bd66e4"]]},{"id":"14884e89.ec9409","type":"http request","z":"36b23c0d.bf2cec","name":"","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/{{id}}/state","tls":"","proxy":"","authType":"","x":1440,"y":340,"wires":[[]]},{"id":"8fc90156.fc9c98","type":"function","z":"36b23c0d.bf2cec","name":"Workshop lights ids state","func":"var state = msg.payload.state;\n\nreturn [[\n    {\n        id: 10,\n        state: state,\n        payload: msg.payload\n    },{\n        id: 11,\n        state: state,\n        payload: msg.payload\n    },{\n        id: 12,\n        state: state,\n        payload: msg.payload\n    }\n]];\n","outputs":1,"noerr":0,"x":870,"y":340,"wires":[["5038398f.a79928"]]},{"id":"c116e06f.c48968","type":"trigger","z":"36b23c0d.bf2cec","name":"","op1":"{\"state\":true}","op2":"{\"state\":false}","op1type":"json","op2type":"json","duration":"6","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":630,"y":340,"wires":[["8fc90156.fc9c98"]]},{"id":"13c65c81.02cd5b","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/cube2/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":130,"y":400,"wires":[["a5ae435f.e660d8"]]},{"id":"b2f59c8f.9d4bd","type":"function","z":"36b23c0d.bf2cec","name":"slide","func":"if (msg.payload.event !== \"slide\") {\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":400,"wires":[["c116e06f.c48968"]]},{"id":"a5ae435f.e660d8","type":"json","z":"36b23c0d.bf2cec","name":"","property":"payload","action":"","pretty":false,"x":330,"y":400,"wires":[["b2f59c8f.9d4bd","8ab23192.26de68"]]},{"id":"7535e75d.62a778","type":"mqtt out","z":"36b23c0d.bf2cec","name":"","topic":"/general/jar-light/command","qos":"","retain":"","broker":"1587791.fcbfc07","x":500,"y":1680,"wires":[]},{"id":"98036bf6.95f72","type":"inject","z":"36b23c0d.bf2cec","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"COUNTDOWN$60","payloadType":"str","x":130,"y":1760,"wires":[["7535e75d.62a778"]]},{"id":"b236b4e9.d03da","type":"debug","z":"36b23c0d.bf2cec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":1800,"wires":[]},{"id":"1f849955.92da67","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/general/jar-light/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":120,"y":1800,"wires":[["b236b4e9.d03da"]]},{"id":"d664522.1b39fb","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"pc/heartbeat","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":90,"y":1380,"wires":[["19179eda.262f91","1c103518.86411b"]]},{"id":"19179eda.262f91","type":"trigger","z":"36b23c0d.bf2cec","name":"heartbeat timeout","op1":"ON","op2":"OFF","op1type":"str","op2type":"str","duration":"35","extend":true,"units":"s","reset":"","bytopic":"all","outputs":1,"x":470,"y":1380,"wires":[["5da9895a.9b1f48"]]},{"id":"1ba92a7f.b51e86","type":"debug","z":"36b23c0d.bf2cec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":1280,"wires":[]},{"id":"4d3cbd49.267194","type":"mqtt out","z":"36b23c0d.bf2cec","name":"","topic":"pc/status/on","qos":"","retain":"","broker":"1587791.fcbfc07","x":990,"y":1360,"wires":[]},{"id":"5da9895a.9b1f48","type":"switch","z":"36b23c0d.bf2cec","name":"ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":1380,"wires":[["4d3cbd49.267194"],["335629c4.f4b0b6"]]},{"id":"335629c4.f4b0b6","type":"mqtt out","z":"36b23c0d.bf2cec","name":"","topic":"pc/status/off","qos":"","retain":"","broker":"1587791.fcbfc07","x":990,"y":1420,"wires":[]},{"id":"d6e29c2e.bcdb98","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/smartsocket/SMTSKT05/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":170,"y":1220,"wires":[["ddd01429.1a5618"]]},{"id":"3ef8166e.5390a2","type":"comment","z":"36b23c0d.bf2cec","name":"PC power","info":"","x":80,"y":1180,"wires":[]},{"id":"173193cc.bb3a9c","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"pc/status/+","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":90,"y":1280,"wires":[["6e2021dc.caae2"]]},{"id":"39c45949.61c006","type":"inject","z":"36b23c0d.bf2cec","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ON","payloadType":"str","x":550,"y":1480,"wires":[["5da9895a.9b1f48"]]},{"id":"6e2021dc.caae2","type":"function","z":"36b23c0d.bf2cec","name":"/device/smartsocket/SMTSKT05/command","func":"msg.topic = \"/device/smartsocket/SMTSKT05/command\";\nmsg.payload = \"$\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1280,"wires":[["1ba92a7f.b51e86","8f44e173.28a6e","a295b1b.e22c3d"]]},{"id":"8f44e173.28a6e","type":"function","z":"36b23c0d.bf2cec","name":"LED Command","func":"\nmsg.payload = \"$LED\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":1180,"wires":[["d5b67b4e.cfe27"]]},{"id":"d5b67b4e.cfe27","type":"mqtt out","z":"36b23c0d.bf2cec","name":"","topic":"","qos":"","retain":"","broker":"1587791.fcbfc07","x":1530,"y":1200,"wires":[]},{"id":"a295b1b.e22c3d","type":"function","z":"36b23c0d.bf2cec","name":"RELAY Command","func":"\nmsg.payload = \"$RELAY\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":1220,"wires":[["d5b67b4e.cfe27"]]},{"id":"8589e6a7.65cd28","type":"inject","z":"36b23c0d.bf2cec","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OFF","payloadType":"str","x":550,"y":1520,"wires":[["5da9895a.9b1f48"]]},{"id":"8ab23192.26de68","type":"function","z":"36b23c0d.bf2cec","name":"doubletap","func":"if (msg.payload.event !== \"doubletap\") {\n    return null;\n}\nmsg.payload.state = false;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":460,"wires":[["46a05083.d01358"]]},{"id":"46a05083.d01358","type":"function","z":"36b23c0d.bf2cec","name":"state = false","func":"msg.payload.state = false;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":420,"wires":[["8fc90156.fc9c98"]]},{"id":"cf51229f.a089a8","type":"debug","z":"36b23c0d.bf2cec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2068.88330078125,"y":585.8833312988281,"wires":[]},{"id":"1c103518.86411b","type":"link out","z":"36b23c0d.bf2cec","name":"PC Heartbeat","links":["61898600.7ed75c"],"x":335,"y":1320,"wires":[]},{"id":"61898600.7ed75c","type":"link in","z":"36b23c0d.bf2cec","name":"PC heartbeat","links":["1c103518.86411b"],"x":495,"y":280,"wires":[["c116e06f.c48968"]]},{"id":"ff4e6f42.32b44","type":"inject","z":"36b23c0d.bf2cec","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1320,"wires":[["1c103518.86411b"]]},{"id":"d6c98070.a59a98","type":"inject","z":"36b23c0d.bf2cec","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"BRIGHTNESS$50","payloadType":"str","x":130,"y":1720,"wires":[["7535e75d.62a778"]]},{"id":"869aec70.59058","type":"inject","z":"36b23c0d.bf2cec","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OFF$50","payloadType":"str","x":100,"y":1640,"wires":[["7535e75d.62a778"]]},{"id":"71a3883c.c061c","type":"inject","z":"36b23c0d.bf2cec","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"PERIOD$1","payloadType":"str","x":100,"y":1680,"wires":[["7535e75d.62a778"]]},{"id":"2225882d.64a47","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/atari-stick/online","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":150,"y":480,"wires":[["3b55cca6.6c2224"]]},{"id":"3b55cca6.6c2224","type":"debug","z":"36b23c0d.bf2cec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":480,"wires":[]},{"id":"d5a97c4d.f500c","type":"function","z":"36b23c0d.bf2cec","name":"Workshop lights ids state","func":"var state = msg.payload.state;\nreturn [[\n    {\n        // id: 10, // front\n        // state: state,\n        // payload: msg.payload\n    // },{\n        // id: 11, // back right\n        // state: state,\n        // payload: msg.payload\n    // },{\n        id: 12,\n        state: !state,\n        payload: msg.payload\n    }\n]];\n","outputs":1,"noerr":0,"x":930,"y":280,"wires":[["5038398f.a79928"]]},{"id":"37b4df13.51b988","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/atom-lite-1/button","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":150,"y":560,"wires":[["197ebf2d.e6bc09"]]},{"id":"197ebf2d.e6bc09","type":"switch","z":"36b23c0d.bf2cec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"click","vt":"str"},{"t":"eq","v":"doubleclick","vt":"str"},{"t":"eq","v":"tripleclick","vt":"str"},{"t":"eq","v":"longclick","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":570,"y":600,"wires":[[],["5a0e6c41.ea4cdc"],[],[]]},{"id":"48c979dd.33bd5","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/atom-lite-2/button","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":490,"y":520,"wires":[["49e9890d.ef89c"]]},{"id":"49e9890d.ef89c","type":"function","z":"36b23c0d.bf2cec","name":"atom-lite-switch-cycler","func":"var state = flow.get(\"atom-lite-light-cycler\") || 0;\nif (state == 2)\n{\n    state = 0;\n}\nelse \n{\n    state = state + 1;\n}\nflow.set(\"atom-lite-light-cycler\", state);\nswitch (state)\n{\n    case 0:\n        node.status({fill:\"green\",shape:\"dot\",text:\"state: 0\"});\n        break;\n    case 1:\n        node.status({fill:\"red\",shape:\"dot\",text:\"state: 1\"});\n        break;\n    case 2:\n        node.status({fill:\"blue\",shape:\"dot\",text:\"state: 2\"});\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":520,"wires":[[]]},{"id":"787ec58d.37b29c","type":"ui_button","z":"36b23c0d.bf2cec","name":"","group":"1e457989.8585e6","order":3,"width":"2","height":"2","passthru":false,"label":"Hangout","tooltip":"","color":"White","bgcolor":"{{background}}","icon":"fa-lightbulb-o ","payload":"12","payloadType":"str","topic":"","x":800,"y":100,"wires":[["a6baf22.07b691"]]},{"id":"fc5567c5.90e5c","type":"inject","z":"36b23c0d.bf2cec","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"state\":true}","payloadType":"json","x":690,"y":241,"wires":[["d5a97c4d.f500c"]]},{"id":"71c66eac.2ef66","type":"link in","z":"36b23c0d.bf2cec","name":"Cave Lights","links":["d5a4d47f.f11b9"],"x":90,"y":20,"wires":[["c43d2b17.b2d008"]],"icon":"node-red/light.png","l":true},{"id":"15b34f95.c22d68","type":"switch","z":"36b23c0d.bf2cec","name":"","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":610,"y":40,"wires":[["6926e76e.db595"],["a61f3ff0.257ed"],["787ec58d.37b29c"]]},{"id":"a6baf22.07b691","type":"function","z":"36b23c0d.bf2cec","name":"Toggle \"on\"","func":"\nvar varname = \"payload\" + msg.payload;\nmsg.payload = flow.get(varname);\nnode.warn(msg.payload.id);\nmsg.payload.state.on = msg.payload.state.on === false;\nflow.set(varname, msg.payload);\n\nmsg.id = msg.payload.id;\nmsg.state = msg.payload.state.on;\nmsg.payload = {\n    \"on\":msg.payload.state.on,\n    \"bri\":255,\n    \"hue\":43680,\n    \"sat\":255,\n    \"transitiontime\":2\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1070,"y":60,"wires":[["c7608384.285008"]]},{"id":"c7608384.285008","type":"http request","z":"36b23c0d.bf2cec","name":"","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/{{id}}/state","tls":"","proxy":"","authType":"","x":1250,"y":60,"wires":[[]]},{"id":"55d1c0.2bd66e4","type":"debug","z":"36b23c0d.bf2cec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1410,"y":260,"wires":[]},{"id":"b649b76f.50a648","type":"inject","z":"36b23c0d.bf2cec","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"state\":false}","payloadType":"json","x":690,"y":280,"wires":[["d5a97c4d.f500c"]]},{"id":"a61f3ff0.257ed","type":"ui_button","z":"36b23c0d.bf2cec","name":"","group":"1e457989.8585e6","order":3,"width":"2","height":"2","passthru":false,"label":"Wardrobe","tooltip":"","color":"White","bgcolor":"{{background}}","icon":"fa-lightbulb-o ","payload":"11","payloadType":"str","topic":"","x":800,"y":60,"wires":[["a6baf22.07b691"]]},{"id":"6926e76e.db595","type":"ui_button","z":"36b23c0d.bf2cec","name":"","group":"1e457989.8585e6","order":3,"width":"2","height":"2","passthru":false,"label":"Desk","tooltip":"","color":"White","bgcolor":"{{background}}","icon":"fa-lightbulb-o ","payload":"10","payloadType":"str","topic":"","x":790,"y":20,"wires":[["a6baf22.07b691"]]},{"id":"c43d2b17.b2d008","type":"function","z":"36b23c0d.bf2cec","name":"background","func":"if (msg.payload.state !== undefined)\n    msg.background = msg.payload.state.on ? \"Green\" : \"Red\";\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":20,"wires":[["861004f9.a1ac7"]]},{"id":"861004f9.a1ac7","type":"function","z":"36b23c0d.bf2cec","name":"Store msg.payload","func":"var flowName = \"payload\" + msg.payload.id;\nflow.set(flowName, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":20,"wires":[["15b34f95.c22d68"]]},{"id":"9f41a2d5.1f3af","type":"trigger","z":"36b23c0d.bf2cec","name":"Off in 30mins","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"30","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":490,"y":920,"wires":[["ddd01429.1a5618"]]},{"id":"45eaf422.f76ab4","type":"debug","z":"36b23c0d.bf2cec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":200,"y":180,"wires":[]},{"id":"9e5342e5bcbbde69","type":"debug","z":"36b23c0d.bf2cec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":1160,"wires":[]},{"id":"c582f81cbaf5df38","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/atari-stick/BUTTON_UP/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":1490,"y":480,"wires":[["b560b0cc50abd4a3"]]},{"id":"e74bb5d978a34598","type":"debug","z":"36b23c0d.bf2cec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2510,"y":360,"wires":[]},{"id":"1501667d941fdc56","type":"function","z":"36b23c0d.bf2cec","name":"LED Command","func":"\nmsg.payload = \"$LED\" + msg.payload + \"$RELAY\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":480,"wires":[["e74bb5d978a34598","294753593c7b1cf8"]]},{"id":"2d582a99b5ce1de8","type":"trigger","z":"36b23c0d.bf2cec","name":"","op1":"$ON","op2":"$OFF","op1type":"str","op2type":"str","duration":"20","extend":false,"overrideDelay":false,"units":"min","reset":"$OFF","bytopic":"all","topic":"topic","outputs":1,"x":2110,"y":440,"wires":[["1501667d941fdc56"]]},{"id":"b560b0cc50abd4a3","type":"function","z":"36b23c0d.bf2cec","name":"","func":"var current_state = flow.get(\"ATARI_UP_STATE\");\n\nif (msg.payload == \"EV_SPECFIC_TIME_REACHED\" || msg.payload == \"EV_CLICKED\") {\n    \n    current_state = current_state == \"$OFF\" ? \"$ON\" : \"$OFF\";\n    flow.set(\"ATARI_UP_STATE\", current_state);\n    msg.payload = current_state;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":480,"wires":[["d040d1d507b91a99"]]},{"id":"294753593c7b1cf8","type":"mqtt out","z":"36b23c0d.bf2cec","name":"SMTSKT04/command","topic":"/device/smartsocket/SMTSKT04/command","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1587791.fcbfc07","x":2520,"y":480,"wires":[]},{"id":"9bacf7b5ec973c12","type":"mqtt in","z":"36b23c0d.bf2cec","name":"","topic":"/device/smartsocket/SMTSKT04/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","nl":false,"rap":true,"rh":0,"inputs":0,"x":1490,"y":440,"wires":[["b560b0cc50abd4a3"]]},{"id":"87b18167d453f3e6","type":"debug","z":"36b23c0d.bf2cec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2190,"y":360,"wires":[]},{"id":"d040d1d507b91a99","type":"switch","z":"36b23c0d.bf2cec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"$ON","vt":"str"},{"t":"eq","v":"$OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1950,"y":460,"wires":[["2d582a99b5ce1de8"],["1501667d941fdc56","2d582a99b5ce1de8"]]},{"id":"aabb5468.30ea6","type":"mqtt out","z":"e8ebc87d.0e1fe8","name":"","topic":"/dev/timestamp","qos":"","retain":"","broker":"1587791.fcbfc07","x":500,"y":80,"wires":[]},{"id":"f35f639c.2d73b8","type":"inject","z":"e8ebc87d.0e1fe8","name":"1 Second","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":80,"wires":[["aabb5468.30ea6"]]},{"id":"bfeb767d.53f45","type":"mqtt out","z":"e8ebc87d.0e1fe8","name":"/nodered/time10s","topic":"/nodered/time10s","qos":"","retain":"","broker":"1587791.fcbfc07","x":510,"y":220,"wires":[]},{"id":"19298ddf.0c5f5a","type":"inject","z":"e8ebc87d.0e1fe8","name":"10 Second","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":220,"wires":[["bfeb767d.53f45"]]},{"id":"2d1dcea7.65c122","type":"mqtt in","z":"e37df6bc.11daa","name":"","topic":"octoprint/progress/printing","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":270,"y":260,"wires":[["215ae337.28409c"]]},{"id":"66f5468e.832968","type":"debug","z":"e37df6bc.11daa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.progress","targetType":"msg","x":820,"y":260,"wires":[]},{"id":"ce345f78.1cc7e8","type":"mqtt in","z":"e37df6bc.11daa","name":"","topic":"octoprint/event/+","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":240,"y":340,"wires":[["49db6f2d.4f757"]]},{"id":"215ae337.28409c","type":"json","z":"e37df6bc.11daa","name":"","property":"payload","action":"","pretty":false,"x":470,"y":260,"wires":[["d95a1c63.a5251"]]},{"id":"d95a1c63.a5251","type":"function","z":"e37df6bc.11daa","name":"","func":"var progress = msg.payload.progress;\nnode.status({\n    fill: progress < 100 ? \"orange\" : \"green\" ,\n    shape:\"ring\",\n    text:\"Progress: \" + msg.payload.progress + \"%\"\n});\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["66f5468e.832968","f4191113.335068"]]},{"id":"2c54d811.8eaed","type":"debug","z":"e37df6bc.11daa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload._event","targetType":"msg","x":820,"y":340,"wires":[]},{"id":"49db6f2d.4f757","type":"json","z":"e37df6bc.11daa","name":"","property":"payload","action":"","pretty":false,"x":470,"y":340,"wires":[["2c54d811.8eaed","1db819e5.e59666"]]},{"id":"1db819e5.e59666","type":"function","z":"e37df6bc.11daa","name":"","func":"\nif (msg.payload._event != \"PrintDone\") {\n    return null;\n}\n\nmsg.payload = msg.payload._event;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":400,"wires":[[]]},{"id":"f4191113.335068","type":"function","z":"e37df6bc.11daa","name":"Finished","func":"if (msg.payload.progress % 100 === 0) {\n    msg.payload = \"Progress: \" + msg.payload.progress + \"%\";\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":790,"y":200,"wires":[[]]},{"id":"ad4e6036.66068","type":"mqtt in","z":"94f6bb63.1811a8","name":"","topic":"/device/smartsocket/SMTSKT05/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":190,"y":280,"wires":[["4cb3b10.65b125"]]},{"id":"91f32b09.0c416","type":"mqtt in","z":"94f6bb63.1811a8","name":"","topic":"/kitchen/bench-lights/online","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":160,"y":400,"wires":[["c048b89b.f67538"]]},{"id":"c048b89b.f67538","type":"trigger","z":"94f6bb63.1811a8","name":"Online","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1000","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":450,"y":400,"wires":[[]]},{"id":"aba6a0c1.23b6e8","type":"mqtt in","z":"94f6bb63.1811a8","name":"","topic":"/device/smartsocket/SMTSKT05/online","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":190,"y":220,"wires":[["28107b5c.02f48c"]]},{"id":"28107b5c.02f48c","type":"trigger","z":"94f6bb63.1811a8","name":"Online","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1000","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":450,"y":220,"wires":[[]]},{"id":"1ab14664.93501a","type":"comment","z":"94f6bb63.1811a8","name":"KITCHEN BENCH LIGHT","info":"","x":150,"y":180,"wires":[]},{"id":"4cb3b10.65b125","type":"function","z":"94f6bb63.1811a8","name":"BOOT","func":"if (msg.payload === \"BOOT\") {\n    msg.payload = \"$RELAY$ON\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["be2a3e99.b5991"]]},{"id":"be2a3e99.b5991","type":"mqtt out","z":"94f6bb63.1811a8","name":"","topic":"/device/smartsocket/SMTSKT05/command","qos":"","retain":"","broker":"1587791.fcbfc07","x":1130,"y":260,"wires":[]},{"id":"92205485.9a0f7","type":"mqtt out","z":"94f6bb63.1811a8","name":"","topic":"","qos":"","retain":"","broker":"1587791.fcbfc07","x":860,"y":180,"wires":[]},{"id":"e3a384d7.d98828","type":"inject","z":"94f6bb63.1811a8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/device/smartsocket/SMTSKT05/event","payload":"EV_RELEASED","payloadType":"str","x":620,"y":180,"wires":[["92205485.9a0f7"]]},{"id":"fe36b486.888dd8","type":"mqtt in","z":"94f6bb63.1811a8","name":"","topic":"/device/aqara/motion/kitchen","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":160,"y":520,"wires":[["2d44d288.9fd2c6"]]},{"id":"2d44d288.9fd2c6","type":"trigger","z":"94f6bb63.1811a8","name":"","op1":"$LED_ALL$ON","op2":"$LED_ALL$OFF","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","outputs":1,"x":420,"y":520,"wires":[["c6c7ed7c.e7a44","907123d6.f9d6a"]]},{"id":"907123d6.f9d6a","type":"debug","z":"94f6bb63.1811a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":440,"wires":[]},{"id":"c6c7ed7c.e7a44","type":"mqtt out","z":"94f6bb63.1811a8","name":"","topic":"/kitchen/bench-lights/command","qos":"","retain":"","broker":"1587791.fcbfc07","x":1370,"y":520,"wires":[]},{"id":"d30786d0.042bc8","type":"mqtt in","z":"94f6bb63.1811a8","name":"","topic":"/device/aqara/coffee_machine_button/held","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":200,"y":620,"wires":[["9b76472f.8e1b5"]]},{"id":"f9df1df4.e5d9e","type":"mqtt in","z":"94f6bb63.1811a8","name":"","topic":"/device/aqara/coffee_machine_button/tap","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":200,"y":720,"wires":[["3a42752e.1c6e0a"]]},{"id":"d965b6ef.b09f1","type":"trigger","z":"94f6bb63.1811a8","name":"","op1":"","op2":"START_BLINKING","op1type":"nul","op2type":"str","duration":"22","extend":true,"units":"s","reset":"$OFF","bytopic":"all","outputs":1,"x":710,"y":680,"wires":[["9c6142fe.c8efd"]]},{"id":"9c6142fe.c8efd","type":"function","z":"94f6bb63.1811a8","name":"startBlink","func":"var BLINKDELAY = 1000;\n\nvar light = true;\n\n\nvar blinker = setInterval(blink, BLINKDELAY);\n\nglobal.set(\"blinker\", blinker);\n\nfunction blink () {\n    \n    if (light) {\n        msg.payload = 1;\n        light = false;\n    }\n    \n    else {\n        msg.payload = 0;\n        light = true;\n    }\n    \n    node.send(msg);\n}\n\n\nreturn;","outputs":1,"noerr":0,"x":860,"y":680,"wires":[["bf3d6ce9.01aa"]]},{"id":"3a42752e.1c6e0a","type":"function","z":"94f6bb63.1811a8","name":"stopBlink","func":"clearInterval(global.get(\"blinker\"));\n\nmsg.payload = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":720,"wires":[["bf3d6ce9.01aa"]]},{"id":"6556f5d0.c6d894","type":"function","z":"94f6bb63.1811a8","name":"Flash Once","func":"var BLINKDELAY = 250;\n\nvar light = true;\n\nvar blinker = setInterval(blink, BLINKDELAY);\n\nglobal.set(\"blinker\", blinker);\n\nfunction blink () {\n    \n    if (light) {\n        msg.payload = 1;\n        light = false;\n    }\n    \n    else {\n        msg.payload = 0;\n        light = true;\n        clearInterval(global.get(\"blinker\"));\n    }\n    \n    node.send(msg);\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":620,"wires":[["d965b6ef.b09f1","bf3d6ce9.01aa"]]},{"id":"9b76472f.8e1b5","type":"function","z":"94f6bb63.1811a8","name":"$LED_ALL$ON","func":"msg.payload = \"$LED_ALL$ON\";\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":620,"wires":[["6556f5d0.c6d894"]]},{"id":"bf3d6ce9.01aa","type":"function","z":"94f6bb63.1811a8","name":"to $LED_ALL","func":"if (msg.payload === 0 || msg.payload === \"$LED_ALL$ON\") {\n    msg.payload = \"$LED_ALL$ON\";\n}\nelse {\n    msg.payload = \"$LED_ALL$OFF\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":620,"wires":[["20e093f3.2d0a5c","65043e8c.bb8f48"]]},{"id":"20e093f3.2d0a5c","type":"debug","z":"94f6bb63.1811a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1310,"y":740,"wires":[]},{"id":"65043e8c.bb8f48","type":"mqtt out","z":"94f6bb63.1811a8","name":"","topic":"/kitchen/bench-lights/command","qos":"","retain":"","broker":"1587791.fcbfc07","x":1370,"y":620,"wires":[]},{"id":"b463c96.481e038","type":"mqtt out","z":"94f6bb63.1811a8","name":"","topic":"/general/test-jar-light/command","qos":"","retain":"","broker":"1587791.fcbfc07","x":1417,"y":365,"wires":[]},{"id":"5dc4d27b.c280a4","type":"inject","z":"94f6bb63.1811a8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$LED_SOMETHING$SOMETHING","payloadType":"str","x":1030,"y":360,"wires":[["b463c96.481e038"]]},{"id":"118d1e2e.31db22","type":"websocket in","z":"6461f072.dc1338","name":"","server":"","client":"c62ab10f.01fc5","x":140,"y":60,"wires":[["bbcaea0c.1d1878","20f92b84.9ee024"]]},{"id":"b4c98b96.3c6cb","type":"comment","z":"6461f072.dc1338","name":"https://github.com/dresden-elektronik/deconz-rest-plugin/issues/138#issuecomment-325101635","info":"https://github.com/dresden-elektronik/deconz-rest-plugin/issues/138#issuecomment-325101635","x":330,"y":760,"wires":[]},{"id":"ef9a8b57.8f203","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/cube1/event","qos":"","retain":"","broker":"1587791.fcbfc07","x":1040,"y":320,"wires":[]},{"id":"492643fa.e27d44","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/vibration/door","qos":"","retain":"","broker":"1587791.fcbfc07","x":1020,"y":480,"wires":[]},{"id":"bbcaea0c.1d1878","type":"json","z":"6461f072.dc1338","name":"","property":"payload","action":"","pretty":false,"x":130,"y":440,"wires":[["b335a4b7.0d55c","51c6b188.f4cd38","bda14701.ebbff","11c333a8.4a2ec4","a924fde8.639168","28622a9d.091b0e","d891b018.842248","5f96cf50.34c3f","557cd7d2.5eb118","ef40572e.a4e738","fe27e495.b1f758","66a0c54.91bddbc","170c0ac3.2f7865","13d7c8c.d7f3d37","27de5ec2.55eb12"]]},{"id":"bda14701.ebbff","type":"switch","z":"6461f072.dc1338","name":"Motion Kitchen","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"24","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":420,"wires":[["8fe37628.12ef28"]]},{"id":"51c6b188.f4cd38","type":"switch","z":"6461f072.dc1338","name":"Motion Door","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"21","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":380,"wires":[["52d39be.96dd064"],[]]},{"id":"b335a4b7.0d55c","type":"switch","z":"6461f072.dc1338","name":"Cube1","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"9","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":340,"wires":[["4993ed64.3b02b4"]]},{"id":"11c333a8.4a2ec4","type":"switch","z":"6461f072.dc1338","name":"Vibration Front Door","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"9","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":460,"wires":[["492643fa.e27d44"]]},{"id":"a924fde8.639168","type":"switch","z":"6461f072.dc1338","name":"Vibration Other","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":500,"wires":[[],[]]},{"id":"d891b018.842248","type":"switch","z":"6461f072.dc1338","name":"Lights","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":410,"y":780,"wires":[[],[],[],[],[]]},{"id":"f5d433dc.00d1a","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/motion/kitchen","qos":"","retain":"","broker":"1587791.fcbfc07","x":1010,"y":420,"wires":[]},{"id":"8fe37628.12ef28","type":"function","z":"6461f072.dc1338","name":"ON","func":"if (msg.payload.state !== undefined && msg.payload.state.presence) {\n    msg.payload = \"on\";\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":710,"y":420,"wires":[["f5d433dc.00d1a"]]},{"id":"4993ed64.3b02b4","type":"function","z":"6461f072.dc1338","name":"Event (.event, .side)","func":"\nif (msg.payload.state === undefined || \n    msg.payload.state.buttonevent === undefined) {\n    return null;\n}\n\nvar event = msg.payload.state.buttonevent;\nvar side = Math.round(event/1000);\nvar modifier = event - (side * 1000);\n\nif (event % 1000 === 0) {\n    msg.payload.event = \"slide\";\n}\nelse if (event === 7007) {\n    msg.payload.event = \"shake\";\n}\nelse if (event === (side*1000) + side) {\n    msg.payload.event = \"doubletap\";\n}\nelse if (side + modifier === 7) {\n    msg.payload.event = \"180flip\";\n}\nelse if (side != 7 - modifier) {\n    msg.payload.event = \"flip\";\n}\nelse if (event === 7008) {\n    msg.payload.event = \"drop\";\n}\nelse {\n    msg.payload.event = \"unknown (\" + event + \")\";\n}\nmsg.payload.side = side;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":340,"wires":[["ef9a8b57.8f203"]]},{"id":"28622a9d.091b0e","type":"switch","z":"6461f072.dc1338","name":"Temperature 42","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"42","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":700,"wires":[["3445ea61.07df36"]]},{"id":"52d39be.96dd064","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/motion/door/event","qos":"","retain":"","broker":"1587791.fcbfc07","x":1030,"y":380,"wires":[]},{"id":"20f92b84.9ee024","type":"debug","z":"6461f072.dc1338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":60,"wires":[]},{"id":"b2a040e3.03cf78","type":"http request","z":"6461f072.dc1338","name":"Request new API Key from Deconz","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.1.105:80/api","tls":"","proxy":"","authType":"","x":400,"y":940,"wires":[["e88738c9.516d7"]]},{"id":"8167212e.b5cfa8","type":"inject","z":"6461f072.dc1338","name":"Headers for API Key","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"devicetype\": \"nodered\" }","payloadType":"str","x":130,"y":940,"wires":[["b2a040e3.03cf78"]]},{"id":"3abb5622.0a31da","type":"debug","z":"6461f072.dc1338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":720,"wires":[]},{"id":"e88738c9.516d7","type":"json","z":"6461f072.dc1338","name":"","property":"payload","action":"","pretty":false,"x":710,"y":940,"wires":[[]]},{"id":"cf0d093.59246f8","type":"comment","z":"6461f072.dc1338","name":"http://dresden-elektronik.github.io/deconz-rest-doc/getting_started/","info":"","x":280,"y":980,"wires":[]},{"id":"ddc9534e.7f19e8","type":"http request","z":"6461f072.dc1338","name":"Get lights","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights","tls":"","proxy":"","authType":"","x":480,"y":1140,"wires":[["2f8435fa.eef8ca"]]},{"id":"26fabda9.d9a8ca","type":"inject","z":"6461f072.dc1338","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":1140,"wires":[["ddc9534e.7f19e8"]]},{"id":"c0ac5ef1.2b84d8","type":"debug","z":"6461f072.dc1338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":1140,"wires":[]},{"id":"2f8435fa.eef8ca","type":"json","z":"6461f072.dc1338","name":"","property":"payload","action":"","pretty":false,"x":680,"y":1140,"wires":[["c0ac5ef1.2b84d8"]]},{"id":"e94bbb5f.ba8ed8","type":"http request","z":"6461f072.dc1338","name":"Get light 4","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/4","tls":"","proxy":"","authType":"","x":490,"y":1180,"wires":[["2f8435fa.eef8ca"]]},{"id":"b7c17c84.1158c8","type":"inject","z":"6461f072.dc1338","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":1180,"wires":[["e94bbb5f.ba8ed8"]]},{"id":"964749dd.171d9","type":"http request","z":"6461f072.dc1338","name":"Put Light 4","method":"PUT","ret":"txt","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/5/state","tls":"","proxy":"","authType":"","x":490,"y":1220,"wires":[["2f8435fa.eef8ca"]]},{"id":"9da8ae8e.b4d8e8","type":"inject","z":"6461f072.dc1338","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LIght OFF","payload":"{\"on\":true,\"bri\":180,\"hue\":43680,\"sat\":255,\"transitiontime\":10}","payloadType":"json","x":250,"y":1220,"wires":[["964749dd.171d9"]]},{"id":"9e7b950e.55e588","type":"http request","z":"6461f072.dc1338","name":"Get Groups","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/groups","tls":"","proxy":"","authType":"","x":470,"y":1280,"wires":[["2f8435fa.eef8ca"]]},{"id":"d228d3e0.0a0f6","type":"inject","z":"6461f072.dc1338","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Groups","payload":"","payloadType":"str","x":280,"y":1280,"wires":[["9e7b950e.55e588"]]},{"id":"82a5df6.1f3702","type":"http request","z":"6461f072.dc1338","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/groups/2/action","tls":"","proxy":"","authType":"","x":470,"y":1340,"wires":[["2f8435fa.eef8ca"]]},{"id":"3c5dc06f.7518d8","type":"inject","z":"6461f072.dc1338","name":"Groups - ON","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"on\":true,\"bri\":255,\"transitiontime\":10}","payloadType":"json","x":290,"y":1340,"wires":[["82a5df6.1f3702"]]},{"id":"57ee2aca.ba501c","type":"inject","z":"6461f072.dc1338","name":"Groups - OFF","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"on\":false,\"bri\":255,\"transitiontime\":10}","payloadType":"json","x":290,"y":1380,"wires":[["82a5df6.1f3702"]]},{"id":"ca900a61.48d0a8","type":"http request","z":"6461f072.dc1338","name":"Get sensors","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/sensors","tls":"","proxy":"","authType":"","x":490,"y":1040,"wires":[["e073b436.609c9"]]},{"id":"5169b335.91fafc","type":"inject","z":"6461f072.dc1338","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":1040,"wires":[["ca900a61.48d0a8"]]},{"id":"b968181c.cd69e8","type":"debug","z":"6461f072.dc1338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":1040,"wires":[]},{"id":"e073b436.609c9","type":"json","z":"6461f072.dc1338","name":"","property":"payload","action":"","pretty":false,"x":680,"y":1040,"wires":[["b968181c.cd69e8"]]},{"id":"5f96cf50.34c3f","type":"switch","z":"6461f072.dc1338","name":"Button 25","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":180,"wires":[["6f3a5619.fa78"]]},{"id":"b8a2960b.b62db8","type":"function","z":"6461f072.dc1338","name":"Lights","func":"if (msg.payload.r !== \"lights\") {\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":720,"wires":[["3abb5622.0a31da"]]},{"id":"557cd7d2.5eb118","type":"switch","z":"6461f072.dc1338","name":"Coffee Machine Button","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"31","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":840,"wires":[[]]},{"id":"a94b42b7.5d704","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/lounge-button/tap","qos":"","retain":"","broker":"1587791.fcbfc07","x":870,"y":60,"wires":[]},{"id":"b4a12318.1150f","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/lounge-button/doubletap","qos":"","retain":"","broker":"1587791.fcbfc07","x":890,"y":100,"wires":[]},{"id":"e51df642.b0573","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/lounge-button/tripletap","qos":"","retain":"","broker":"1587791.fcbfc07","x":890,"y":140,"wires":[]},{"id":"e4a05c9a.434368","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/lounge-button/quadtap","qos":"","retain":"","broker":"1587791.fcbfc07","x":890,"y":180,"wires":[]},{"id":"cfa81f6e.78797","type":"switch","z":"6461f072.dc1338","name":"","property":"payload.state.buttonevent","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"1004","vt":"str"},{"t":"eq","v":"1005","vt":"str"},{"t":"eq","v":"1006","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":550,"y":180,"wires":[["a94b42b7.5d704"],["b4a12318.1150f"],["e51df642.b0573"],["e4a05c9a.434368"],["a1e7b206.2b2dc8"]]},{"id":"a1e7b206.2b2dc8","type":"debug","z":"6461f072.dc1338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.state.buttonevent","targetType":"msg","x":870,"y":220,"wires":[]},{"id":"ef40572e.a4e738","type":"switch","z":"6461f072.dc1338","name":"Button 32","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"32","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":140,"wires":[["17658b61.8e34ed"]]},{"id":"3ed29678.daa1da","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/liams-house-button/tap","qos":"","retain":"","broker":"1587791.fcbfc07","x":1430,"y":40,"wires":[]},{"id":"d02d9d5c.83175","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/liams-house-button/doubletap","qos":"","retain":"","broker":"1587791.fcbfc07","x":1450,"y":80,"wires":[]},{"id":"d7519807.1f407","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/liams-house-button/tripletap","qos":"","retain":"","broker":"1587791.fcbfc07","x":1450,"y":120,"wires":[]},{"id":"fab04f24.b4b29","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/liams-house-button/held","qos":"","retain":"","broker":"1587791.fcbfc07","x":1430,"y":160,"wires":[]},{"id":"57b14fec.c5e73","type":"switch","z":"6461f072.dc1338","name":"","property":"payload.state.buttonevent","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"1004","vt":"str"},{"t":"eq","v":"1001","vt":"str"},{"t":"eq","v":"1003","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1170,"y":60,"wires":[["3ed29678.daa1da"],["d02d9d5c.83175"],["d7519807.1f407"],["fab04f24.b4b29"]]},{"id":"fe27e495.b1f758","type":"switch","z":"6461f072.dc1338","name":"Cube2","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"34","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":260,"wires":[["baab9cde.07c038"]]},{"id":"baab9cde.07c038","type":"function","z":"6461f072.dc1338","name":"Event (.event, .side)","func":"\nif (msg.payload.state === undefined || \n    msg.payload.state.buttonevent === undefined) {\n    return null;\n}\n\nvar event = msg.payload.state.buttonevent;\nvar side = Math.round(event/1000);\nvar modifier = event - (side * 1000);\n\nif (event % 1000 === 0) {\n    msg.payload.event = \"slide\";\n}\nelse if (event === 7007) {\n    msg.payload.event = \"shake\";\n}\nelse if (event === (side*1000) + side) {\n    msg.payload.event = \"doubletap\";\n}\nelse if (side + modifier === 7) {\n    msg.payload.event = \"180flip\";\n}\nelse if (side != 7 - modifier) {\n    msg.payload.event = \"flip\";\n}\nelse if (event === 7008) {\n    msg.payload.event = \"drop\";\n}\nelse {\n    msg.payload.event = \"unknown (\" + event + \")\";\n}\nmsg.payload.side = side;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":260,"wires":[["3f61d679.6e11d2"]]},{"id":"3f61d679.6e11d2","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/cube2/event","qos":"","retain":"","broker":"1587791.fcbfc07","x":1440,"y":260,"wires":[]},{"id":"66a0c54.91bddbc","type":"switch","z":"6461f072.dc1338","name":"Button 33","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"33","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":220,"wires":[["41ac6cf1.374464"]]},{"id":"15411104.a545cf","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/dining-button/tap","qos":"","retain":"","broker":"1587791.fcbfc07","x":1610,"y":1080,"wires":[]},{"id":"a5e59b55.88bca8","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/lounge-button/doubletap","qos":"","retain":"","broker":"1587791.fcbfc07","x":1630,"y":1120,"wires":[]},{"id":"10fae8c9.4460b7","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/lounge-button/tripletap","qos":"","retain":"","broker":"1587791.fcbfc07","x":1630,"y":1160,"wires":[]},{"id":"21f8fc6a.3f28f4","type":"mqtt out","z":"6461f072.dc1338","name":"","topic":"/device/aqara/lounge-button/quadtap","qos":"","retain":"","broker":"1587791.fcbfc07","x":1630,"y":1200,"wires":[]},{"id":"170c0ac3.2f7865","type":"function","z":"6461f072.dc1338","name":"Cave Lights","func":"\nswitch (msg.payload.id)\n{\n    case \"10\":\n    case\"11\":\n    case \"12\":\n        return msg;\n    default:\n        return null;\n}","outputs":1,"noerr":0,"x":130,"y":820,"wires":[["d5a4d47f.f11b9"]]},{"id":"d5a4d47f.f11b9","type":"link out","z":"6461f072.dc1338","name":"Cave LIghts","links":["71c66eac.2ef66"],"x":255,"y":820,"wires":[]},{"id":"eb349f05.78c8","type":"function","z":"6461f072.dc1338","name":"Else","func":"if (msg.payload.r == \"lights\") {\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":760,"wires":[["f393f1.1cebc41"]]},{"id":"f393f1.1cebc41","type":"debug","z":"6461f072.dc1338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":760,"wires":[]},{"id":"a3e03d2.704bf4","type":"link out","z":"6461f072.dc1338","name":"Temp 36","links":["6be464e5.a5c93c"],"x":615,"y":620,"wires":[]},{"id":"3445ea61.07df36","type":"link out","z":"6461f072.dc1338","name":"Temp 42","links":["eeecf549.3c0a9"],"x":615,"y":700,"wires":[]},{"id":"98c74e64.f4d898","type":"link out","z":"6461f072.dc1338","name":"Temp 39","links":["ed524b9e.a63bd8"],"x":615,"y":660,"wires":[]},{"id":"6f3a5619.fa78","type":"link out","z":"6461f072.dc1338","name":"Button 25","links":[],"x":355,"y":180,"wires":[]},{"id":"17658b61.8e34ed","type":"link out","z":"6461f072.dc1338","name":"Button 32","links":[],"x":355,"y":140,"wires":[]},{"id":"41ac6cf1.374464","type":"link out","z":"6461f072.dc1338","name":"Button 33","links":[],"x":355,"y":220,"wires":[]},{"id":"13d7c8c.d7f3d37","type":"switch","z":"6461f072.dc1338","name":"Temperature 17","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"17","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":540,"wires":[["5e4eb67d.732e2"]]},{"id":"5e4eb67d.732e2","type":"link out","z":"6461f072.dc1338","name":"Temp 17","links":["3f16b738.ec7f2"],"x":615,"y":540,"wires":[],"icon":"font-awesome/fa-thermometer-0"},{"id":"27de5ec2.55eb12","type":"switch","z":"6461f072.dc1338","name":"Temperature 14","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"14","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":580,"wires":[["a0d27751.9cde28"]]},{"id":"a0d27751.9cde28","type":"link out","z":"6461f072.dc1338","name":"Temp 14","links":["4b28afe4.e0cc9","8ead97a0.4860e"],"x":615,"y":580,"wires":[],"icon":"font-awesome/fa-thermometer-0"},{"id":"3858d3ce.cf6b7c","type":"switch","z":"6461f072.dc1338","name":"Temperature 39","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"39","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":660,"wires":[["98c74e64.f4d898"]]},{"id":"321762c9.e04136","type":"switch","z":"6461f072.dc1338","name":"Temperature 36","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"36","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":620,"wires":[["a3e03d2.704bf4"]]},{"id":"94ac405d.648bd8","type":"debug","z":"9dd84a9b.b093e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1250,"y":200,"wires":[]},{"id":"7c5b8224.b7daf4","type":"http request","z":"9dd84a9b.b093e","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.metlink.org.nz/api/v1/ServiceLocation/25","tls":"","proxy":"","authType":"","x":360,"y":200,"wires":[["4acb9134.f8ee98"]]},{"id":"fe674a42.924b6","type":"inject","z":"9dd84a9b.b093e","name":"","repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"[{\"channel\":\"TEMP\",\"dataset\":[{\"lon\":174.765335,\"lat\":-41.295158,\"name\":\"9fj04r\",\"description\":\"Temperature in Madrid\",\"value\":20.5,\"unit\":\"C\",\"iconColor\":\"Blue\"}]}]","payloadType":"json","x":160,"y":260,"wires":[["7c5b8224.b7daf4"]]},{"id":"191a31a8.f1727e","type":"maps","z":"9dd84a9b.b093e","name":"Map","path":"MAP","maptitle":"Map title","x":1130,"y":280,"wires":[["94ac405d.648bd8"]]},{"id":"ac1deb01.68edd","type":"debug","z":"9dd84a9b.b093e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":160,"wires":[]},{"id":"a44bbad3.bdc29","type":"function","z":"9dd84a9b.b093e","name":"","func":"console.log(\"Test\");\nif (msg.payload.Services === undefined) {\n    msg.payload = \"undefined\";\n    return msg;\n}\nelse if (msg.payload.Services.length === 0) {\n    msg.payload = \"length 0\";\n    return msg;\n}\n\nvar services = msg.payload.Services;\nvar dataset = [];\nfor (var i=0; i<services.length; i++) {\n    dataset.push({\n        lon: parseFloat(services[i].Long),\n        lat: parseFloat(services[i].Lat),\n        name: i.toString(),\n        description: services[i].VehicleRef,\n        iconColor: services[i].Direction == \"Inbound\" ? \"Blue\" : \"Red\",\n        value: i\n    });\n}\n\nmsg.payload = [{\n    channel: \"TEMP\",\n    dataset: dataset\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":280,"wires":[["191a31a8.f1727e","ac1deb01.68edd","446d039.40b7bfc"]]},{"id":"4acb9134.f8ee98","type":"json","z":"9dd84a9b.b093e","name":"","property":"payload","action":"","pretty":false,"x":550,"y":280,"wires":[["a44bbad3.bdc29"]]},{"id":"446d039.40b7bfc","type":"worldmap","z":"9dd84a9b.b093e","name":"","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":1120,"y":320,"wires":[]},{"id":"2e525468.9a4ad4","type":"http request","z":"c79a5793.feeff8","name":"Light above me State (1)","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/1/state","tls":"","proxy":"","authType":"","x":430,"y":40,"wires":[[]]},{"id":"b0234eb1.13f5e","type":"http request","z":"c79a5793.feeff8","name":"Light 2 State","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/2/state","tls":"","proxy":"","authType":"","x":390,"y":100,"wires":[[]]},{"id":"abc1cf6d.071d7","type":"http request","z":"c79a5793.feeff8","name":"Light 3 State","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/3/state","tls":"","proxy":"","authType":"","x":390,"y":160,"wires":[[]]},{"id":"374f430d.e8e2e4","type":"inject","z":"c79a5793.feeff8","name":"OFF","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"on\":false,\"bri\":255,\"hue\":43680,\"sat\":255,\"transitiontime\":10}","payloadType":"json","x":110,"y":100,"wires":[["2e525468.9a4ad4","b0234eb1.13f5e","abc1cf6d.071d7","c535ced9.dba458","e37e6fc.c968b9"]]},{"id":"2d14336c.81b104","type":"inject","z":"c79a5793.feeff8","name":"ON","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"on\":true,\"bri\":255,\"hue\":43680,\"sat\":255,\"transitiontime\":10}","payloadType":"json","x":110,"y":140,"wires":[["2e525468.9a4ad4","b0234eb1.13f5e","abc1cf6d.071d7","c535ced9.dba458","e37e6fc.c968b9"]]},{"id":"c535ced9.dba458","type":"http request","z":"c79a5793.feeff8","name":"Light 7 State","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/7/state","tls":"","proxy":"","authType":"","x":390,"y":220,"wires":[[]]},{"id":"e37e6fc.c968b9","type":"http request","z":"c79a5793.feeff8","name":"Light above Leila 8 State","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/8/state","tls":"","proxy":"","authType":"","x":430,"y":280,"wires":[[]]},{"id":"b675324a.e1065","type":"mqtt in","z":"c79a5793.feeff8","name":"","topic":"/device/aqara/lounge-button/tap","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":150,"y":380,"wires":[["c38f868e.9f9d2"]]},{"id":"6754d317.42f2a4","type":"mqtt in","z":"c79a5793.feeff8","name":"","topic":"/device/aqara/lounge-button/doubletap","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":170,"y":420,"wires":[[]]},{"id":"a88ce21c.fac48","type":"mqtt in","z":"c79a5793.feeff8","name":"","topic":"/device/aqara/lounge-button/tripletap","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":170,"y":460,"wires":[[]]},{"id":"8c8bd6a4.d68d6","type":"mqtt in","z":"c79a5793.feeff8","name":"","topic":"/device/aqara/lounge-button/quadtap","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":170,"y":500,"wires":[[]]},{"id":"4f3dfa18.d2fd64","type":"http request","z":"c79a5793.feeff8","name":"","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/{{id}}/state","tls":"","proxy":"","authType":"","x":890,"y":380,"wires":[["d90bdc4c.ec0eb"]]},{"id":"d90bdc4c.ec0eb","type":"debug","z":"c79a5793.feeff8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1060,"y":380,"wires":[]},{"id":"b1b95ac.5bfeca8","type":"function","z":"c79a5793.feeff8","name":"All (state)","func":"var light1 = {\n    payload: {\n        \"on\":msg.state,\n        \"bri\":255,\n        \"hue\":43680,\n        \"sat\":255,\n        \"transitiontime\":10\n    },\n    id: 1\n};\nvar light2 = {\n    payload: {\n        \"on\":msg.state,\n        \"bri\":255,\n        \"hue\":43680,\n        \"sat\":255,\n        \"transitiontime\":10\n    },\n    id: 2\n};\nvar light3 = {\n    payload: {\n        \"on\":msg.state,\n        \"bri\":255,\n        \"hue\":43680,\n        \"sat\":255,\n        \"transitiontime\":10\n    },\n    id: 3\n};\nvar light4 = {\n    payload: {\n        \"on\":msg.state,\n        \"bri\":255,\n        \"hue\":43680,\n        \"sat\":255,\n        \"transitiontime\":10\n    },\n    id: 7\n};\n// var light5 = {\n//     payload: {\n//         \"on\":msg.state,\n//         \"bri\":255,\n//         \"hue\":43680,\n//         \"sat\":255,\n//         \"transitiontime\":10\n//     },\n//     id: 8\n// };\nreturn [[light1, light2, light3, light4]];\n\n","outputs":1,"noerr":0,"x":640,"y":380,"wires":[["4f3dfa18.d2fd64"]]},{"id":"c38f868e.9f9d2","type":"function","z":"c79a5793.feeff8","name":"Change Scene","func":"var lounge_lights_scene = \"lounge_lights_scene\";\nvar current_scene = flow.get(lounge_lights_scene);\nvar leila_light_msg = { payload: msg.payload, state: false };\n\nswitch (current_scene) {\n    case \"on\":\n        flow.set(lounge_lights_scene, \"leila_only\");\n        msg.state = false;\n        leila_light_msg.state = false;\n        break;\n    case \"leila_only\":\n        flow.set(lounge_lights_scene, \"off\");\n        leila_light_msg.state = true;\n        msg.state = false;\n        break;\n    case \"off\":\n        flow.set(lounge_lights_scene, \"on\");\n        leila_light_msg.state = true;\n        msg.state = true;\n        break;\n    default:\n        flow.set(lounge_lights_scene, \"on\");\n        leila_light_msg.state = true;\n        msg.state = true;\n        break;\n}\nreturn [msg, leila_light_msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":380,"wires":[["b1b95ac.5bfeca8"],["1b757707.b515b1"]]},{"id":"715db3a0.f7a024","type":"mqtt in","z":"c79a5793.feeff8","name":"/device/cube1/event","topic":"/device/cube1/event","qos":"2","datatype":"json","broker":"1587791.fcbfc07","inputs":0,"x":710,"y":40,"wires":[["550e2b.cc87b9d4"]]},{"id":"632e8eca.8b9648","type":"mqtt in","z":"c79a5793.feeff8","name":"","topic":"/device/motion/door/event","qos":"2","datatype":"json","broker":"1587791.fcbfc07","inputs":0,"x":130,"y":760,"wires":[[]]},{"id":"5edf7daa.430774","type":"inject","z":"c79a5793.feeff8","name":"Initialise","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":540,"wires":[[]]},{"id":"1b757707.b515b1","type":"function","z":"c79a5793.feeff8","name":"Leila Light","func":"msg.payload = {\n    \"on\":msg.state,\n    \"bri\":255,\n    \"hue\":43680,\n    \"sat\":255,\n    \"transitiontime\":10\n};\nmsg.id = 8;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":420,"wires":[["4f3dfa18.d2fd64"]]},{"id":"1d5698df.5f6867","type":"inject","z":"c79a5793.feeff8","name":"ON","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"on\":true,\"bri\":255,\"hue\":43680,\"sat\":255,\"transitiontime\":10}","payloadType":"json","x":110,"y":140,"wires":[[]]},{"id":"b6355983.743ca","type":"inject","z":"c79a5793.feeff8","name":"ON","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"on\":true,\"bri\":255,\"hue\":43680,\"sat\":255,\"transitiontime\":10}","payloadType":"json","x":123,"y":245,"wires":[["e37e6fc.c968b9","c535ced9.dba458"]]},{"id":"550e2b.cc87b9d4","type":"function","z":"c79a5793.feeff8","name":"shake","func":"if (msg.payload.event !== \"shake\") {\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":40,"wires":[["4c8cb3cf.05ec14","b92fdb0c.d92268"]]},{"id":"4c8cb3cf.05ec14","type":"delay","z":"c79a5793.feeff8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1020,"y":120,"wires":[["c20410e1.ee09c"]]},{"id":"b6229d75.886a68","type":"http request","z":"c79a5793.feeff8","name":"Light above me State (1)","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/1/state","tls":"","proxy":"","authType":"","x":1410,"y":40,"wires":[[]]},{"id":"f41762e6.c72a1","type":"http request","z":"c79a5793.feeff8","name":"Light 2 State","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/2/state","tls":"","proxy":"","authType":"","x":1370,"y":100,"wires":[[]]},{"id":"7a8182eb.5c5294","type":"http request","z":"c79a5793.feeff8","name":"Light 3 State","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/3/state","tls":"","proxy":"","authType":"","x":1370,"y":160,"wires":[[]]},{"id":"126d275.1c21b59","type":"http request","z":"c79a5793.feeff8","name":"Light 7 State","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/7/state","tls":"","proxy":"","authType":"","x":1370,"y":220,"wires":[[]]},{"id":"124d0b3b.ede935","type":"http request","z":"c79a5793.feeff8","name":"Light above Leila 8 State","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/8/state","tls":"","proxy":"","authType":"","x":1410,"y":280,"wires":[[]]},{"id":"c20410e1.ee09c","type":"function","z":"c79a5793.feeff8","name":"ON","func":"msg.payload = \"{\\\"on\\\":true,\\\"bri\\\":255,\\\"hue\\\":43680,\\\"sat\\\":255,\\\"transitiontime\\\":10}\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":240,"wires":[["124d0b3b.ede935","126d275.1c21b59"]]},{"id":"b92fdb0c.d92268","type":"function","z":"c79a5793.feeff8","name":"OFF","func":"msg.payload = \"{\\\"on\\\":false,\\\"bri\\\":255,\\\"hue\\\":43680,\\\"sat\\\":255,\\\"transitiontime\\\":10}\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":40,"wires":[["b6229d75.886a68","f41762e6.c72a1","7a8182eb.5c5294","126d275.1c21b59","124d0b3b.ede935"]]},{"id":"d96b2dd6.d831f8","type":"inject","z":"c79a5793.feeff8","name":"OFF","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"on\":false,\"bri\":255,\"hue\":43680,\"sat\":255,\"transitiontime\":10}","payloadType":"json","x":110,"y":200,"wires":[["c535ced9.dba458","e37e6fc.c968b9"]]},{"id":"a3882367.8f7698","type":"mqtt in","z":"742f94f2.a3296c","name":"","topic":"/device/cube1/event","qos":"2","datatype":"json","broker":"1587791.fcbfc07","inputs":0,"x":130,"y":60,"wires":[["8e44a94f.8ee7f","f4653179.3ec308"]]},{"id":"e5ce8b65.b72298","type":"function","z":"742f94f2.a3296c","name":"Make light payload (on=msg.state)","func":"msg.payload = {\n    \"on\":msg.state,\n    \"bri\":255,\n    \"hue\":43680,\n    \"sat\":255,\n    \"transitiontime\":5\n};\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":600,"wires":[["942e73fb.16a1b8"]]},{"id":"942e73fb.16a1b8","type":"http request","z":"742f94f2.a3296c","name":"","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/{{id}}/state","tls":"","proxy":"","authType":"","x":920,"y":600,"wires":[[]]},{"id":"e24b5e38.23828","type":"switch","z":"742f94f2.a3296c","name":"Slide sides 1-6","property":"payload.side","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":820,"y":60,"wires":[[],[],[],[],[],[],[]]},{"id":"4e7c06ce.09208","type":"function","z":"742f94f2.a3296c","name":"Dining room lights ids state","func":"var lightstate = \"dining_room_lights_state\";\nvar state = flow.get(lightstate);\nflow.set(lightstate, state === false);\nreturn [[\n    {\n        id: 4,\n        state: state,\n        payload: msg.payload\n    },{\n        id: 6,\n        state: state,\n        payload: msg.payload\n    },{\n        id: 9,\n        state: state,\n        payload: msg.payload\n    },{\n        id: 13,\n        state: state,\n        payload: msg.payload\n    }\n]];\n","outputs":1,"noerr":0,"x":380,"y":600,"wires":[["e5ce8b65.b72298","ac5800fb.41f9"]]},{"id":"8e44a94f.8ee7f","type":"switch","z":"742f94f2.a3296c","name":"Types","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"slide","vt":"str"},{"t":"eq","v":"flip","vt":"str"},{"t":"eq","v":"doubletap","vt":"str"},{"t":"eq","v":"shake","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":370,"y":60,"wires":[["e24b5e38.23828"],["2cea8867.19e7e8"],["19b5ef49.c556a9"],[],[]]},{"id":"19b5ef49.c556a9","type":"switch","z":"742f94f2.a3296c","name":"Doubletap sides 1-6","property":"payload.side","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":830,"y":300,"wires":[[],[],[],[],[],[],[]]},{"id":"2cea8867.19e7e8","type":"switch","z":"742f94f2.a3296c","name":"Flip to sides 1-6","property":"payload.side","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":820,"y":180,"wires":[[],[],[],[],[],[],[]]},{"id":"ac5800fb.41f9","type":"debug","z":"742f94f2.a3296c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"state","targetType":"msg","x":630,"y":460,"wires":[]},{"id":"e1c81f49.3b3f8","type":"function","z":"742f94f2.a3296c","name":"Make light payload (on=msg.state)","func":"msg.payload = {\n    \"id\": \"5\",\n    \"on\":msg.payload.state,\n    \"bri\":100,\n    \"hue\":43680,\n    \"sat\":255,\n    \"transitiontime\":10\n};\nreturn msg;","outputs":1,"noerr":0,"x":485.75,"y":806.75,"wires":[["3450b8f2.263f","14d028d1.63a64f"]]},{"id":"3450b8f2.263f","type":"http request","z":"742f94f2.a3296c","name":"http request (Leila's Light)","method":"PUT","ret":"obj","paytoqs":false,"url":"http://192.168.1.105:80/api/7665109987/lights/5/state","tls":"","proxy":"","authType":"","x":830,"y":800,"wires":[[]]},{"id":"fe7383a6.ddf9d8","type":"inject","z":"742f94f2.a3296c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"state\":false}","payloadType":"json","x":170,"y":760,"wires":[["e1c81f49.3b3f8"]]},{"id":"14d028d1.63a64f","type":"debug","z":"742f94f2.a3296c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":740,"wires":[]},{"id":"e36e1d33.769408","type":"inject","z":"742f94f2.a3296c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"state\":true}","payloadType":"json","x":170,"y":860,"wires":[["e1c81f49.3b3f8"]]},{"id":"f4653179.3ec308","type":"function","z":"742f94f2.a3296c","name":"shake","func":"if (msg.payload.event !== \"shake\") {\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":600,"wires":[["4e7c06ce.09208"]]},{"id":"73e6693c.4ab1d","type":"mqtt in","z":"742f94f2.a3296c","name":"","topic":"/device/aqara/dining-button/tap","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":200,"y":240,"wires":[["c865bdc1.fd6cc","4e7c06ce.09208"]]},{"id":"c865bdc1.fd6cc","type":"debug","z":"742f94f2.a3296c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":300,"wires":[]},{"id":"72b12967.79613","type":"mqtt in","z":"fae66450.b1de","name":"","topic":"/liamshouse/ceiling_lights/online","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":190,"y":60,"wires":[["686f98b8.2eb67"]]},{"id":"686f98b8.2eb67","type":"trigger","z":"fae66450.b1de","name":"","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","units":"ms","reset":"","bytopic":"all","outputs":1,"x":430,"y":60,"wires":[[]]},{"id":"5bb8ecd1.84ed5c","type":"mqtt out","z":"fae66450.b1de","name":"","topic":"/liamshouse/ceiling_lights/command","qos":"","retain":"","broker":"1587791.fcbfc07","x":1110,"y":200,"wires":[]},{"id":"b918692f.1bfa58","type":"inject","z":"fae66450.b1de","name":"Fade In","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"LED\",\"value\":\"FADE_WHITE_IN\"}","payloadType":"json","x":690,"y":40,"wires":[["9fa93bde.3fd54"]]},{"id":"75daf1c5.ace4c8","type":"inject","z":"fae66450.b1de","name":"Fade Out","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"LED\",\"value\":\"FADE_WHITE_OUT\"}","payloadType":"json","x":820,"y":240,"wires":[["5bb8ecd1.84ed5c","e7bd88f.6b10e78"]]},{"id":"9fa93bde.3fd54","type":"trigger","z":"fae66450.b1de","name":"","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":true,"units":"min","reset":"","bytopic":"all","outputs":1,"x":840,"y":160,"wires":[["5bb8ecd1.84ed5c","e7bd88f.6b10e78"]]},{"id":"ba810a1b.d6bcc","type":"mqtt in","z":"fae66450.b1de","name":"","topic":"/device/aqara/liams-house-button/tap","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":210,"y":160,"wires":[["7b7061dd.3b863"]]},{"id":"93ce41.042019c","type":"mqtt in","z":"fae66450.b1de","name":"","topic":"/device/aqara/liams-house-button/doubletap","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":230,"y":220,"wires":[["14e76736.81dea9"]]},{"id":"14e76736.81dea9","type":"function","z":"fae66450.b1de","name":"OFF","func":"msg.payload = {\n    \"command\": \"LED\",\n    \"value\": \"OFF\"\n};\nmsg.reset = 1;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["9fa93bde.3fd54","5bb8ecd1.84ed5c"]]},{"id":"e7bd88f.6b10e78","type":"debug","z":"fae66450.b1de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":60,"wires":[]},{"id":"7b7061dd.3b863","type":"function","z":"fae66450.b1de","name":"WHITE_ON","func":"msg.payload = {\n    \"command\": \"LED\",\n    \"value\": \"WHITE_ON\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":160,"wires":[["9fa93bde.3fd54"]]},{"id":"69cc2662.ced0d8","type":"mqtt in","z":"fae66450.b1de","name":"","topic":"/liamshouse/ceiling_lights/event","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":190,"y":280,"wires":[["55a51f99.7c01d8"]]},{"id":"55a51f99.7c01d8","type":"debug","z":"fae66450.b1de","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":300,"wires":[]},{"id":"acb9551d.426c88","type":"function","z":"fae66450.b1de","name":"RAINBOW","func":"msg.payload = {\n    \"command\": \"LED\",\n    \"value\": \"RAINBOW\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["9fa93bde.3fd54"]]},{"id":"13afc5d7.280372","type":"mqtt in","z":"fae66450.b1de","name":"","topic":"/device/aqara/liams-house-button/held","qos":"2","datatype":"auto","broker":"1587791.fcbfc07","inputs":0,"x":210,"y":120,"wires":[["acb9551d.426c88"]]},{"id":"377379a9.13d336","type":"inject","z":"fae66450.b1de","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":100,"wires":[["acb9551d.426c88"]]},{"id":"39f6d4b6.23b65c","type":"time-range-switch","z":"fae66450.b1de","name":"Filter Night","lat":"174","lon":"40.9","startTime":"20:00","endTime":"06:00","startOffset":"720","endOffset":"720","x":391,"y":617,"wires":[["eed69753.113d78","65d3b43a.51da0c","eb473ceb.6213f"],[]]},{"id":"2c95d5a4.0ecf9a","type":"inject","z":"fae66450.b1de","name":"Debug Packet","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"LiamsRoomTempLastmsgpayload","payloadType":"flow","x":191,"y":577,"wires":[["39f6d4b6.23b65c"]]},{"id":"eed69753.113d78","type":"debug","z":"fae66450.b1de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.state.temperature","targetType":"msg","x":871,"y":617,"wires":[]},{"id":"4b28afe4.e0cc9","type":"link in","z":"fae66450.b1de","name":"Liam's Room Temp","links":["6e7fc71c.6175f8","a0d27751.9cde28"],"x":171,"y":617,"wires":[["39f6d4b6.23b65c"]],"l":true},{"id":"65d3b43a.51da0c","type":"function","z":"fae66450.b1de","name":"Store Min Max Avg","func":"\nconst liamsRoomTempMin = \"LiamsRoomTempMin\";\nconst liamsRoomTempMax = \"LiamsRoomTempMax\";\n\nflow.set(\"LiamsRoomTempLastmsgpayload\", msg.payload);\n\nvar temp = msg.payload.state.temperature/100;\n\nvar min = flow.get(liamsRoomTempMin) || 100;\nif (min > temp)\n{\n    flow.set(liamsRoomTempMin, temp);\n    min = temp;\n}\nmsg.payload.min_temp = min;\n\nvar max = flow.get(liamsRoomTempMax) || 0;\nif (max < temp)\n{\n    flow.set(liamsRoomTempMax, temp);\n    max = temp;\n}\nmsg.payload.max_temp = max;\n\nvar status = \"min:\" + min + \" temp:\" + temp + \" max:\" + max;\nnode.status({fill:\"orange\",shape:\"ring\",text:status});\n\nreturn msg;","outputs":1,"noerr":0,"x":591,"y":557,"wires":[["eed69753.113d78","2e190149.280aee","c5ed3f.2fe1eac"]]},{"id":"2e190149.280aee","type":"ui_text","z":"fae66450.b1de","group":"114d57a3.c0a97","order":5,"width":"6","height":"1","name":"Min Temp","label":"Min Temp","format":"{{msg.payload.min_temp}}","layout":"row-spread","x":841,"y":477,"wires":[]},{"id":"c5ed3f.2fe1eac","type":"ui_text","z":"fae66450.b1de","group":"114d57a3.c0a97","order":5,"width":"6","height":"1","name":"Max Temp","label":"Max Temp","format":"{{msg.payload.max_temp}}","layout":"row-spread","x":841,"y":517,"wires":[]},{"id":"eb473ceb.6213f","type":"debug","z":"fae66450.b1de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":811,"y":657,"wires":[]},{"id":"385b68f4.4078d","type":"function","z":"fae66450.b1de","name":"Clear Min Max","func":"\nconst liamsRoomTempMin = \"LiamsRoomTempMin\";\nconst liamsRoomTempMax = \"LiamsRoomTempMax\";\n\nflow.set(liamsRoomTempMin, 100);\nflow.set(liamsRoomTempMax, 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":480,"wires":[[]]},{"id":"7367ceaf.b571e8","type":"inject","z":"fae66450.b1de","name":"Event","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":460,"wires":[["385b68f4.4078d"]]},{"id":"7829aee7.6e99d8","type":"time-range-switch","z":"fae66450.b1de","name":"Reset Time (6:30pm)","lat":"174","lon":"40.9","startTime":"18:30","endTime":"19:00","startOffset":"720","endOffset":"720","x":400,"y":500,"wires":[["385b68f4.4078d"],[]]},{"id":"fbf4bc19.dec738","type":"ui_text","z":"81285515.4f20b","group":"114d57a3.c0a97","order":0,"width":0,"height":0,"name":"","label":"Liam's Room","format":"{{msg.payload.state.temperature/100}} &deg;","layout":"row-spread","x":1130,"y":440,"wires":[]},{"id":"4ac461a.90773a","type":"ui_chart","z":"81285515.4f20b","name":"","group":"114d57a3.c0a97","order":2,"width":"12","height":"7","label":"Liam's Room Temperatures","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff8040","#ff0000","#0000ff","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1180,"y":540,"wires":[[]]},{"id":"65de59c.eb462a8","type":"function","z":"81285515.4f20b","name":"to degs","func":"if (msg.payload.state === undefined)\n{\n    return null;\n}\nmsg.payload = msg.payload.state.temperature/100;\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":540,"wires":[["4ac461a.90773a"]]},{"id":"3bdd3028.8db64","type":"ui_text","z":"81285515.4f20b","group":"1e457989.8585e6","order":0,"width":0,"height":0,"name":"","label":"Liam's Heater","format":"{{msg.payload.state.temperature/100}} &deg;","layout":"row-spread","x":1140,"y":480,"wires":[]},{"id":"d3cfc07c.3d66e8","type":"change","z":"81285515.4f20b","name":"topic:  Liam's Room","rules":[{"t":"set","p":"topic","pt":"msg","to":" Liam's Room","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":440,"wires":[["fbf4bc19.dec738","65de59c.eb462a8"]]},{"id":"67782521.4d3704","type":"change","z":"81285515.4f20b","name":"topic: Liam's Heater","rules":[{"t":"set","p":"topic","pt":"msg","to":"Liam's Heater","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":480,"wires":[["3bdd3028.8db64","65de59c.eb462a8"]]},{"id":"d31e49bd.45ea08","type":"change","z":"81285515.4f20b","name":"topic: Heatpump","rules":[{"t":"set","p":"topic","pt":"msg","to":"Heatpump","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":340,"wires":[["a132ef04.86f4f","8c23b27d.001f7"]]},{"id":"3f16b738.ec7f2","type":"link in","z":"81285515.4f20b","name":"Outside","links":["5e4eb67d.732e2"],"x":435,"y":200,"wires":[["5ade5ac6.3673bc"]],"outputLabels":["Outside Temp"]},{"id":"8ead97a0.4860e","type":"link in","z":"81285515.4f20b","name":"Liam's Room Temp","links":["a0d27751.9cde28"],"x":435,"y":440,"wires":[["d3cfc07c.3d66e8"]]},{"id":"6be464e5.a5c93c","type":"link in","z":"81285515.4f20b","name":"Leila","links":["a3e03d2.704bf4"],"x":410,"y":300,"wires":[["de93d81a.b28a5"]],"l":true},{"id":"ed524b9e.a63bd8","type":"link in","z":"81285515.4f20b","name":"","links":["98c74e64.f4d898"],"x":435,"y":480,"wires":[["67782521.4d3704"]]},{"id":"eeecf549.3c0a9","type":"link in","z":"81285515.4f20b","name":"Heatpump","links":["3445ea61.07df36"],"x":400,"y":340,"wires":[["d31e49bd.45ea08"]],"l":true},{"id":"a132ef04.86f4f","type":"function","z":"81285515.4f20b","name":"to degs","func":"if (msg.payload.state === undefined)\n{\n    return null;\n}\nmsg.payload = msg.payload.state.temperature/100;\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":260,"wires":[["2518f31b.366954"]]},{"id":"2518f31b.366954","type":"ui_chart","z":"81285515.4f20b","name":"","group":"114d57a3.c0a97","order":2,"width":"12","height":"7","label":"Lounge Room Temperatures","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0000","#ff8000","#ff80ff","#0000ff","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1180,"y":260,"wires":[[]]},{"id":"de57516b.fee6a","type":"ui_gauge","z":"81285515.4f20b","name":"Outside","group":"3da98d5b.f5260a","order":6,"width":"3","height":"3","gtype":"gage","title":"Outside","label":"units","format":"{{msg.payload.state.temperature/100}}","min":0,"max":"25","colors":["#75baff","#e6e600","#ff8000"],"seg1":"10","seg2":"15","x":1120,"y":200,"wires":[]},{"id":"34daed88.9681aa","type":"ui_template","z":"81285515.4f20b","group":"1e457989.8585e6","name":"","order":7,"width":"3","height":"3","format":"<div ng-bind-html=\"msg.payload\">{{msg.payload.state.temperature/100}} &deg;</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":980,"y":200,"wires":[["de57516b.fee6a"]]},{"id":"d40889ab.48df7","type":"debug","z":"81285515.4f20b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":100,"wires":[]},{"id":"8c23b27d.001f7","type":"ui_gauge","z":"81285515.4f20b","name":"Heatpump","group":"3da98d5b.f5260a","order":6,"width":"3","height":"3","gtype":"gage","title":"Heatpump","label":"units","format":"{{msg.payload.state.temperature/100}}","min":"10","max":"40","colors":["#75baff","#e6e600","#ff8000"],"seg1":"20","seg2":"30","x":1130,"y":340,"wires":[]},{"id":"5ade5ac6.3673bc","type":"function","z":"81285515.4f20b","name":"topic: Outside","func":"if (msg.payload.state === undefined)\n    return null;\n\nmsg.topic = \"Outside\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":200,"wires":[["d40889ab.48df7","34daed88.9681aa","a132ef04.86f4f","65de59c.eb462a8"]]},{"id":"de93d81a.b28a5","type":"function","z":"81285515.4f20b","name":"topic: Leila","func":"if (msg.payload.state === undefined)\n    return null;\n\nmsg.topic = \"Leila\";\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":300,"wires":[["a132ef04.86f4f","825d1e3e.12b71"]]},{"id":"825d1e3e.12b71","type":"ui_gauge","z":"81285515.4f20b","name":"Leila","group":"3da98d5b.f5260a","order":6,"width":"3","height":"3","gtype":"gage","title":"Leila","label":"units","format":"{{msg.payload.state.temperature/100}}","min":"10","max":"25","colors":["#75baff","#e6e600","#ff0000"],"seg1":"15","seg2":"20","x":1110,"y":300,"wires":[]}]
